/* Header */

header,
#header_placeholder {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100dvw;
    padding: 0 var(--spacing-m);

    color: var(--color-white);
    transition: var(--transition-base);

    nav,
    nav>div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-m);

        margin: 0 auto;
    }

    a {
        text-decoration: none;
        color: currentColor;
        font-weight: 700;
        font-family: var(--font-main);
        text-transform: uppercase;
        font-size: var(--text-xxs);

        padding: var(--spacing-m) 0;
    }

    #logo {
        flex: 1;

        img {
            height: 60px;
        }

        a {
            padding: 0;
        }
    }

    #hamburger-menu-icon {
        position: relative;
        z-index: 1;
        display: none;

        span {
            color: currentColor;
        }
    }

    #menu-toggle:checked~label {
        .hamburger-open {
            display: none;
        }

        .hamburger-close {
            display: block;
            color: var(--color-black);
        }
    }

    #menu-toggle:checked~#hamburger-menu {
        width: 100dvw;
        height: 100dvh;

        display: flex !important;
        flex-direction: column;
        gap: var(--spacing-m);

        position: fixed;
        top: 0;
        left: 0;

        background-color: rgba(255, 255, 255, 0.8);
        color: var(--color-black);
        backdrop-filter: blur(10px);
        justify-content: center;

        /* block scroll behavior all web*/

    }

    #menu-toggle:not(:checked)~label .hamburger-close {
        display: none;
    }
}

header.scrolled {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: var(--shadow-m);
    backdrop-filter: blur(10px);
    color: var(--color-black);

    a {
        padding: var(--spacing-s) 0;
    }

    #logo a {
        color: var(--color-secondary);
    }
}

/* End of Header */

/* Landing */

section {
    margin: auto;
    overflow: hidden;

    >div[id$="_content"] {
        padding: var(--spacing-xxxl) var(--spacing-l);

        @media (max-width: 767px) {
            padding: var(--spacing-xl) var(--spacing-m);
        }
    }
}

#AboutUs {
    #AboutUs_content {
        gap: calc(var(--spacing-xl) * 3);

        .left {
            display: grid;

            grid-template-columns: 1fr 1fr;
            gap: var(--spacing-m);
            padding-bottom: var(--spacing-l);


            .left-item {
                flex: 1;
                position: relative;
                overflow: hidden;
                border-radius: var(--radius-m);
                aspect-ratio: 1;

                >div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: var(--color-primary);
                    opacity: 0.1;

                    &:hover {
                        opacity: 0;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                &:nth-child(even) {
                    transform: translateY(var(--spacing-l));
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-m);

            h2:not(.title-bold) {
                font-weight: var(--weight-regular);
            }

            .tag {
                &::before {
                    content: "";
                    display: inline-block;
                    width: 2rem;
                    height: 1px;
                    background-color: var(--color-primary);
                    margin-right: 0.5rem;
                    transform: translateY(-50%);
                    vertical-align: middle;
                }
            }

            .d-row {
                column-gap: var(--spacing-l);
                row-gap: var(--spacing-s);

                @media (max-width: 767px) {
                    gap: 0;
                    justify-content: space-between;
                }
            }
        }


        @media (max-width: 767px) {
            gap: var(--spacing-xl);
        }
    }

    .bg {
        background-color: var(--color-text-muted);
        opacity: 0.1;
        width: 100%;
        height: 300%;
        top: 0;
        left: 65%;
        z-index: -1;
        --tw-translate-x: 5rem;
        --tw-skew-x: -12deg;
        transform: rotate(10deg);
    }
}

#CoreValue {
    #CoreValue_content {
        gap: var(--spacing-xl);
        align-items: center;

        h2 {
            margin-top: calc(200px - var(--spacing-xxxl));
        }

        .d-row {
            width: 100%;

            .container {
                position: relative;

                height: 500px;
                width: 100%;

                filter: drop-shadow(--shadow-m);

                display: flex;
                flex-direction: column;
                justify-content: end;
                gap: var(--spacing-s);

                border-radius: var(--radius-l);
                overflow: hidden;

                color: var(--color-white);
                padding: var(--spacing-m);

                transition: var(--transition-base);

                p {
                    color: currentColor;
                    height: 0;
                    overflow: hidden;

                }

                h3,
                .indicator,
                p {
                    transform: translateY(30%);
                }

                .indicator {
                    width: var(--spacing-xl);
                    height: 4px;
                    background: var(--color-primary);
                }

                img {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    z-index: -2;
                }

                .graCoat {
                    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.5), rgba(1, 31, 0, 0.8));
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                &:hover {
                    outline: 3px solid var(--color-primary);
                    outline-offset: -3px;

                    .graCoat {
                        opacity: 0.5;
                    }

                    .indicator {
                        width: var(--spacing-xxxl);
                    }

                    p {
                        height: auto;
                    }

                    p,
                    h3,
                    .indicator {
                        transform: translateY(0);
                    }

                    img {
                        scale: 1.1;
                        transition: var(--transition-slow);
                    }
                }


            }

        }
    }

    .bg {
        z-index: -2;

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;


        svg {
            width: 100dvw;
            height: 200px;
            position: absolute;
            top: 0;

            z-index: -1;
            transform: translateX(3.5%);
        }

        img {
            opacity: 0.1;
        }
    }
}

#Programme {
    #Programme_content {

        color: var(--color-white);

        display: grid;
        grid-template-columns: 1fr calc(50% + calc(var(--spacing-xl)/2));
        gap: var(--spacing-xl);

        .left {
            padding-top: var(--spacing-l);

            .tag {
                font-family: var(--font-mono);
                font-size: 0.7rem;
                letter-spacing: 0.1rem;
                /* line-height: 0.7rem; */
                color: var(--color-primary);
                text-transform: uppercase;
                font-weight: var(--weight-bold);

                backdrop-filter: blur(2px);
                background-color: rgba(255, 255, 255, 0.1);
                backface-visibility: hidden;

                width: fit-content;
                padding: var(--spacing-xxxs) var(--spacing-xs);

                border-radius: var(--radius-round);
                border: 1px solid rgba(255, 255, 255, 0.2);


            }

            .gradient-text-mainColor {
                background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 30%, var(--color-white) 60%, var(--color-white) 80%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .icon-text {
                transition: var(--transition-fast);

                .icon {
                    width: 40px;
                    height: 40px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 100%;

                    background-color: rgb(255 255 255 / 0.05);
                    color: var(--color-primary);
                }

                p {
                    color: var(--color-white);
                }

                &:hover {
                    .icon {
                        background-color: var(--color-primary);
                        color: var(--color-white);
                    }
                }
            }
        }

        .right {

            .card {
                .rounded {
                    height: inherit;

                    position: relative;

                    .rounded-dot {
                        position: absolute;
                        top: var(--spacing-m);



                        aspect-ratio: 1;
                        width: var(--spacing-m);
                        height: var(--spacing-m);

                        background-color: rgba(0, 0, 0, 0.2);

                        border-radius: var(--radius-round);
                        border: 2px solid rgba(255, 255, 255, 0.2);

                        outline: 0 solid var(--color-primary);
                        outline-offset: calc(-1 * var(--spacing-m)/2);
                    }

                    .rounded-line {
                        width: 2px;
                        height: 100%;
                        background-color: rgba(255, 255, 255, 0.2);

                        >div {
                            width: 2px;
                            height: 0%;

                            background: linear-gradient(to top, transparent 0%, var(--color-primary) 80%, transparent 100%);
                        }
                    }
                }

                .card-item {
                    flex: 1;
                    border-radius: var(--radius-l);
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    overflow: hidden;
                    margin-bottom: var(--spacing-l);

                    .graCoat {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        background: linear-gradient(to right, hsl(217, 33%, 10%) 10%, hsla(215, 33%, 10%, 0.95) 40%, hsla(216, 33%, 10%, 0.7) 100%);
                    }

                    img {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        z-index: -2;
                        filter: saturate(0);
                        opacity: 0;
                    }

                    .tag {
                        color: var(--color-primary);
                    }


                    .card-item-label {
                        /* width: 100%; */
                        padding: var(--spacing-l);

                        h3 {
                            color: var(--color-white);
                        }

                        .icon {
                            aspect-ratio: 1;
                            width: var(--spacing-xxl);
                            height: var(--spacing-xxl);

                            background-color: rgba(0, 0, 0, 0.2);
                            color: var(--color-primary);

                            border-radius: var(--radius-m);
                            border: 1px solid rgba(255, 255, 255, 0.2);

                            filter: drop-shadow(--shadow-m);
                        }

                        .d-column {
                            flex: 1;
                        }

                        >p {
                            color: var(--color-white);
                            opacity: 0.2;
                            font-weight: var(--weight-bold);
                            font-size: var(--text-h2);
                            line-height: 1;
                        }

                        div .card-subdescription {
                            border-left: 1px solid var(--color-text-muted);
                            padding-left: var(--spacing-xs);
                            color: var(--color-text-muted);
                        }

                    }

                    .card-item-cate {
                        padding: 0 var(--spacing-l);
                        align-items: end;

                        >div {
                            width: 100%;
                        }

                        .card-item-cate-item {
                            flex: 1;

                            display: flex;
                            flex-direction: column;
                            gap: var(--spacing-xxxs);
                            padding: var(--spacing-xs);

                            background-color: rgba(0, 0, 0, 0.4);

                            border-radius: var(--radius-m);

                            .material-symbols-outlined {
                                color: var(--color-primary);
                                font-size: var(--text-s) !important;
                                font-variation-settings:
                                    'FILL' 0,
                                    'wght' 300,
                                    'GRAD' 0,
                                    'opsz' 24;
                                font-weight: thin !important;
                            }

                            .tag {
                                font-size: var(--text-xxxs);
                            }

                            p {
                                font-weight: var(--weight-bold);
                                font-size: var(--text-xxs);
                                line-height: var(--lineheight-xxs);
                            }

                        }

                        a {
                            text-decoration: none;
                            color: var(--color-primary);

                            &::after {
                                content: "";
                                display: inline-block;
                                width: 6px;
                                height: 6px;
                                margin-left: 6px;
                                margin-bottom: 1px;

                                border-top: 2px solid currentColor;
                                border-right: 2px solid currentColor;
                                transform: rotate(45deg);
                                align-content: center;
                            }
                        }
                    }


                    hr,
                    .card-item-cate {
                        max-height: 0px;
                        visibility: hidden;
                        transform: var(--transition-slow);
                    }

                }

                &:hover {
                    .rounded {
                        .rounded-dot {
                            outline: calc(var(--spacing-m)/2) solid var(--color-primary);
                            outline-offset: calc(-1 * var(--spacing-m)/2);
                        }

                        .rounded-line {

                            div {
                                height: 100%;
                                transition: height 0.7s ease-out;
                            }
                        }
                    }


                    .card-item {
                        border: 1px solid var(--color-secondary);

                        img {
                            opacity: 1;
                        }

                        .card-item-label {
                            .icon {
                                background-color: var(--color-primary);
                                color: var(--color-white);
                                border: none;
                            }

                            h3 {
                                color: var(--color-primary);
                            }

                            div .card-subdescription {
                                border-left: 1px solid var(--color-primary);
                                color: var(--color-white);
                            }
                        }

                        hr {
                            visibility: visible;
                        }

                        .card-item-cate {
                            visibility: visible;
                            padding: var(--spacing-l);
                            max-height: 1000px;
                        }
                    }
                }


            }
        }
    }

    .bg {
        z-index: -2;

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        background-color: #030712;

        img {
            opacity: 0.1;
        }
    }

    p {
        color: var(--color-p-light);
    }
}

#Event {

    #Event_content {
        gap: var(--spacing-xxs);

        .tag {
            color: var(--color-primary);
        }

        >h3 {
            color: var(--color-secondary);
        }

        #Event_content_cate_selector {
            padding: var(--spacing-xxxs);
            margin-top: var(--spacing-xs);
            margin-bottom: var(--spacing-m);
            background-color: var(--color-text-muted-2);
            border-radius: var(--radius-round);
            border: 1px solid var(--color-text-muted);

            label {
                padding: var(--spacing-xxs) var(--spacing-m);
                border-radius: var(--radius-round);
                color: var(--color-p-dark);
                font-size: var(--text-xxxs);
                font-weight: var(--weight-semibold);
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }

    #all:checked~div label[for="all"],
    #q4_2024:checked~div label[for="q4_2024"],
    #q1_2025:checked~div label[for="q1_2025"] {
        background-color: var(--color-secondary);
        color: var(--color-white) !important;
    }

    #q4_2024:checked~div div[event-cate],
    #q1_2025:checked~div div[event-cate] {
        display: none;
    }

    #q4_2024:checked~div div[event-cate="q4_2024"],
    #q1_2025:checked~div div[event-cate="q1_2025"] {
        display: grid;
    }

    #Event_content_cards {
        width: 100%;
        max-width: 1240px;

        .card:nth-child(2n+1) {
            direction: rtl;
        }

        .card {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            gap: 5vw;

            .event_content_cards_mark {
                font-weight: var(--weight-bold);
                font-size: var(--spacing-xxxl);
                text-transform: uppercase;
                align-self: center;
                justify-self: center;

                opacity: 0.1;

                flex: 1;
            }

            .rounded {
                height: inherit;

                position: relative;

                .rounded-dot {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    aspect-ratio: 1;
                    width: var(--spacing-s);
                    height: var(--spacing-s);

                    background-color: var(--color-text-muted);

                    border-radius: var(--radius-round);
                    border: 2px solid rgba(255, 255, 255, 0.2);

                    outline: 0 solid var(--color-primary);
                    outline-offset: calc(-1 * var(--spacing-xs)/2);
                }

                .rounded-line {
                    width: 2px;
                    height: 100%;
                    background-color: var(--color-text-muted);
                    overflow: hidden;

                    >div {
                        width: 100%;
                        height: 0%;



                        background-color: var(--color-primary);

                        animation: progressV 3s ease-in-out infinite;
                    }
                }
            }

            .card-item {
                direction: ltr;
                overflow: hidden;

                border-radius: var(--radius-l);
                margin-bottom: var(--spacing-l);

                filter: drop-shadow(var(--shadow-l));

                .top {
                    height: 20dvh;
                    min-height: 200px;
                    padding: var(--spacing-s);

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);

                    h4 {
                        color: var(--color-white);
                    }

                    img {
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        z-index: -1;
                    }

                    div[state] {
                        top: var(--spacing-s);
                        right: var(--spacing-s);
                        z-index: 1;
                        font-size: var(--text-xxxs);
                    }

                    div[state='0']::after {
                        content: 'Ended';
                        background-color: var(--color-social-linkedin);
                        padding: var(--spacing-xxxs) var(--spacing-xs);
                        border-radius: var(--radius-round);
                        color: var(--color-white);
                    }

                    div[state='1']::after {
                        content: 'Ongoing';
                        display: inline-block;
                        padding: 2px 8px;
                        border-radius: 999px;
                        color: #fff;
                        animation: breatheState1 1.2s ease-in-out infinite alternate;
                    }

                    div[state='2']::after {
                        content: 'Upcoming';
                        background-color: var(--color-primary);
                        padding: var(--spacing-xxxs) var(--spacing-xs);
                        border-radius: var(--radius-round);
                        color: var(--color-white);
                    }

                    div[state='3']::after {
                        content: 'Registration open';
                        background-color: var(--color-secondary);
                        padding: var(--spacing-xxxs) var(--spacing-xs);
                        border-radius: var(--radius-round);
                        color: var(--color-white);
                    }

                    div[state='4']::after {
                        content: 'Scheduled';
                        background-color: var(--color-secondary);
                        padding: var(--spacing-xxxs) var(--spacing-xs);
                        border-radius: var(--radius-round);
                        color: var(--color-white);
                    }

                }

                .bottom {
                    background-color: var(--color-white);
                    padding: var(--spacing-m);

                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xs);

                    p {
                        font-size: var(--text-xxs);
                    }

                    span {
                        font-weight: var(--weight-regular);
                        font-size: var(--text-xxs) !important;
                        color: var(--color-primary);
                    }

                    .time {
                        display: flex;
                        gap: var(--spacing-xs);

                        div {
                            display: flex;
                            align-items: center;
                            gap: var(--spacing-xxxs);

                            span {
                                font-weight: var(--weight-regular);
                                font-size: var(--text-xxs) !important;
                                color: var(--color-primary);
                            }

                            p {
                                font-weight: var(--weight-semibold);
                                text-transform: uppercase;
                            }
                        }
                    }

                    div {
                        display: flex;
                        align-items: center;
                        gap: var(--spacing-xxxs);
                    }
                }
            }

            &:hover {
                .rounded {
                    .rounded-dot {
                        background-color: var(--color-white);
                        outline: calc(var(--spacing-xs)/2) solid var(--color-primary);
                        outline-offset: calc(-1 * var(--spacing-xs)/2);
                    }

                    .rounded-line {

                        div {
                            animation: none;

                            height: 100%;
                            transition: height 0.7s ease-out;
                            background: linear-gradient(90deg, transparent 0%, var(--color-primary) 50%, transparent 100%);

                        }
                    }
                }


                .card-item {
                    filter: drop-shadow(var(--shadow-xxl)) drop-shadow(var(--shadow-l));
                }
            }


        }
    }

    .bg {
        z-index: -2;

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        img {
            opacity: 0.4;
        }
    }
}

#Network {
    background-color: var(--color-bg-light);

    #Network_content {

        #Network_content_cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(200px, 400px));
            column-gap: var(--spacing-l);
            margin-top: var(--spacing-m);
            --max: 6;
            overflow: hidden;

            .card {
                width: 100%;
                background-color: var(--color-white);
                padding: var(--spacing-m);
                border-radius: var(--radius-l);
                filter: drop-shadow(var(--shadow-xs));
                gap: var(--spacing-m);

                margin-top: var(--spacing-m);
                margin-bottom: var(--spacing-xs);

                .top {
                    width: 100%;

                    img {
                        width: 100px;
                        aspect-ratio: 1;

                        border-radius: var(--radius-round);
                        filter: saturate(0);
                    }

                    .tag {
                        letter-spacing: normal;
                        font-weight: var(--weight-bold);
                        color: var(--color-primary);
                    }

                    p,
                    span {
                        font-size: var(--text-xxs) !important;
                        line-height: var(--lineheight-xxs);
                        color: var(--color-text-muted);
                    }

                    div {
                        flex: 1;

                        div:last-child {
                            border-radius: var(--radius-s);
                            background-color: var(--color-text-muted-2);
                            padding: var(--spacing-xxxs) var(--spacing-xs);

                            p {
                                color: var(--color-p-dark);
                                font-weight: var(--weight-semibold);
                            }

                            span {
                                color: var(--color-primary);
                            }
                        }
                    }


                }

                .bottom {
                    p {
                        font-size: var(--text-xs);

                        &::before,
                        &::after {
                            content: '"';
                            padding: 0;
                            margin: 0;
                        }
                    }

                    a {
                        float: right;
                        margin-top: var(--spacing-xxxs);

                        img {
                            width: 20px;
                            height: 20px;
                            filter: saturate(0);
                            opacity: 0.2;

                            transition: var(--transition-fast);

                            &:hover {
                                opacity: 1;
                                filter: saturate(1);
                            }
                        }
                    }
                }
            }

            .card:nth-child(n+7) {
                max-height: 0;
                padding: 0;
                opacity: 0;
                overflow: hidden;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    label[for="Network_content_toggle_list"] {
        cursor: pointer;
        transition: var(--transition-slow);

        &::after {
            content: 'Xem toàn bộ danh sách ';
        }
    }

    #Network_content_toggle_list:checked~#Network_content #Network_content_cards>.card {
        padding: var(--spacing-m);
        max-height: 1000px;
        opacity: 1;
        margin-top: var(--spacing-m);
        margin-bottom: var(--spacing-xs);
    }

    #Network_content_toggle_list:checked~#Network_content label[for="Network_content_toggle_list"] {
        &::after {
            content: 'Thu gọn';
        }
    }

}

#Course {
    background-color: var(--color-bg-light);

    #Course_content {
        gap: var(--spacing-m);
        padding-bottom: var(--spacing-l);

        .tag {
            color: var(--color-primary);
        }

        #Course_content_cate_list {
            justify-content: space-between;
            width: 100%;

            div {
                flex-wrap: wrap;
            }

            label,
            .btn-2 {
                border: 1px solid var(--color-text-muted-2);
                color: var(--color-p-dark);
                background-color: var(--color-white);
                font-size: var(--text-xs);

                &:hover {
                    background-color: var(--color-secondary);
                    color: var(--color-white);
                }
            }

            .slider-controller .btn-2 {
                aspect-ratio: 1;


            }
        }
    }

    #Course_content_cards {
        overflow: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        padding-bottom: var(--spacing-xxxl);

        scrollbar-width: none;
        -ms-overflow-style: none;



        .card {
            flex: 0 0 auto;
            width: 70vw;
            min-width: 200px;
            max-width: 400px;

            display: none;

            border-radius: var(--radius-l);
            overflow: hidden;
            filter: drop-shadow(var(--shadow-s));
            background-color: var(--color-white);

            .top {
                position: relative;

                img {
                    height: 200px;
                }

                .tag {
                    position: absolute;
                    top: var(--spacing-s);
                    right: var(--spacing-s);
                    z-index: 1;

                    font-size: var(--text-xxxs);
                    font-weight: var(--weight-bold);
                    letter-spacing: normal;

                    color: var(--color-secondary);
                    background-color: var(--color-white);

                    padding: var(--spacing-xxxs) var(--spacing-xs);
                    border-radius: var(--radius-round);

                    &::before {
                        content: '';
                    }
                }
            }

            .bottom {
                padding: var(--spacing-m);
                display: flex;
                flex-direction: column;
                gap: var(--spacing-s);

                p {
                    font-size: var(--text-xs);
                    color: var(--color-p-dark);
                    font-weight: var(--weight-thin);
                }

                span {
                    color: var(--color-primary);
                    font-size: var(--text-s) !important;
                }

                h4 {
                    line-height: 1.5;

                    &+div {
                        p {
                            font-size: var(--text-xxs);
                        }

                        div:first-child p {
                            font-weight: var(--weight-semibold);
                        }
                    }
                }
            }


            &:hover {
                transform: translateY(calc(-1 * var(--spacing-xxxs)));
                filter: drop-shadow(var(--shadow-xl)) drop-shadow(var(--shadow-m));

                .top img {
                    transform: scale(1.1);
                }

                .bottom .btn {
                    filter: drop-shadow(var(--shadow-m));
                }
            }


            &[course-cate$="finance"] {
                .top .tag::before {
                    content: 'Finance';
                }
            }

            &[course-cate$="tech"] {
                .top .tag::before {
                    content: 'Tech';
                }
            }

            &[course-cate$="product"] {
                .top .tag::before {
                    content: 'Product';
                }
            }

            &[course-cate$="marketing"] {
                .top .tag::before {
                    content: 'Marketing';
                }
            }

            &[course-cate$="management"] {
                .top .tag::before {
                    content: 'Management';
                }
            }

            &[course-cate$="legal"] {
                .top .tag::before {
                    content: 'Legal';
                }
            }
        }
    }

    input[name="Course_content_cate"][id="Course_content_cate_all"]:checked~#Course_content #Course_content_cate_list label[for="Course_content_cate_all"],
    input[name="Course_content_cate"][id="Course_content_cate_finance"]:checked~#Course_content #Course_content_cate_list label[for="Course_content_cate_finance"],
    input[name="Course_content_cate"][id="Course_content_cate_tech"]:checked~#Course_content #Course_content_cate_list label[for="Course_content_cate_tech"],
    input[name="Course_content_cate"][id="Course_content_cate_product"]:checked~#Course_content #Course_content_cate_list label[for="Course_content_cate_product"],
    input[name="Course_content_cate"][id="Course_content_cate_marketing"]:checked~#Course_content #Course_content_cate_list label[for="Course_content_cate_marketing"],
    input[name="Course_content_cate"][id="Course_content_cate_management"]:checked~#Course_content #Course_content_cate_list label[for="Course_content_cate_management"],
    input[name="Course_content_cate"][id="Course_content_cate_legal"]:checked~#Course_content #Course_content_cate_list label[for="Course_content_cate_legal"] {
        background-color: var(--color-secondary);
        color: var(--color-white);
    }

    input[name="Course_content_cate"][id="Course_content_cate_all"]:checked~#Course_content_cards>div[course-cate],
    input[name="Course_content_cate"][id="Course_content_cate_finance"]:checked~#Course_content_cards>div[course-cate="Course_content_cate_finance"],
    input[name="Course_content_cate"][id="Course_content_cate_tech"]:checked~#Course_content_cards>div[course-cate="Course_content_cate_tech"],
    input[name="Course_content_cate"][id="Course_content_cate_product"]:checked~#Course_content_cards>div[course-cate="Course_content_cate_product"],
    input[name="Course_content_cate"][id="Course_content_cate_marketing"]:checked~#Course_content_cards>div[course-cate="Course_content_cate_marketing"],
    input[name="Course_content_cate"][id="Course_content_cate_management"]:checked~#Course_content_cards>div[course-cate="Course_content_cate_management"],
    input[name="Course_content_cate"][id="Course_content_cate_legal"]:checked~#Course_content_cards>div[course-cate="Course_content_cate_legal"] {
        display: block;
    }

    #Course_content_cards::before,
    #Course_content_cards::after {
        content: "";
        flex: 0 0 max(0px, calc((100vw - 1300px) / 2));
    }
}

#Partner {
    #Partner_content {
        text-align: center;

        @media screen and (max-width: 768px) {
            h2 {
                font-size: var(--text-h3);
            }
        }

        .slider-viewport {
            width: 100%;
            margin: auto;
            overflow: hidden;
            position: relative;

            .slider-track {
                display: flex;
                gap: var(--spacing-xxs);
                transition: transform 0.5s ease-in-out;

                animation: slide 14s infinite;

                .slider-page {
                    flex-shrink: 0;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(5, minmax(200px, 1fr));
                    gap: var(--spacing-xxs);

                    @media screen and (max-width: 768px) {
                        grid-template-columns: repeat(2, minmax(100px, 1fr));
                    }

                    div {
                        padding: var(--spacing-xs);
                        height: var(--spacing-xxl);

                        filter: saturate(0);

                        &:hover {
                            filter: saturate(1);
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: var(--spacing-xs);
            gap: var(--spacing-xxs);

            .dot {
                display: block;
                width: var(--spacing-xs);
                height: var(--spacing-xs);
                background-color: var(--color-text-muted);
                border-radius: 50%;

                animation: dotSync 14s infinite linear;
            }

            .active {
                background-color: var(--color-primary);
                animation-delay: 7s;
            }
        }

        &:hover {

            .slider-viewport .slider-track,
            .pagination .dot {
                animation-play-state: paused;
            }


        }
    }
}

#Contact {
    .bg {
        z-index: -3;
        background-color: var(--color-black);
        width: 100%;
        height: 100%;

        .graCoat {
            z-index: 1;
            background-image: linear-gradient(to right, var(--color-black) 20%, rgba(0, 0, 0, 0.7) 70%, rgba(1, 31, 0, 0.5) 100%);
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    #Contact_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-xl);
        color: var(--color-white);

        .left {
            padding-top: var(--spacing-l);

            p {
                color: var(--color-p-light);
            }

            .tag {
                font-family: var(--font-mono);
                font-size: 0.7rem;
                letter-spacing: 0.1rem;
                /* line-height: 0.7rem; */
                color: var(--color-primary);
                text-transform: uppercase;
                font-weight: var(--weight-bold);

                backdrop-filter: blur(2px);
                background-color: rgba(255, 255, 255, 0.1);
                backface-visibility: hidden;

                width: fit-content;
                padding: var(--spacing-xxxs) var(--spacing-xs);

                border-radius: var(--radius-round);
                border: 1px solid rgba(255, 255, 255, 0.2);


            }

            .gradient-text-mainColor {
                background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary) 30%, var(--color-white) 60%, var(--color-white) 80%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .icon-text {
                transition: var(--transition-fast);

                .icon {
                    width: var(--spacing-xl);
                    height: var(--spacing-xl);

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: var(--radius-l);
                    border: 1px solid rgba(255, 255, 255, 0.2);

                    background-color: rgba(137, 255, 182, 0.1);
                    color: var(--color-primary);
                }



            }
        }

        .right {
            background-color: var(--color-bg-light);
            padding: var(--spacing-l);
            border-radius: var(--radius-xl);



            h3 {
                color: var(--color-black);
            }



            p {
                font-size: var(--text-xs);
                color: var(--color-p-dark);
            }

            div {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xxs);


                label {
                    font-weight: var(--weight-semibold);
                    text-transform: uppercase;
                    font-size: var(--text-xs);
                    color: var(--color-p-dark);
                    margin-top: var(--spacing-l);
                }
            }

            form {

                textarea,
                input {
                    color: var(--color-black);
                    font-family: var(--font-main);
                    padding: var(--spacing-xs);
                    border-radius: var(--radius-s);
                    border: 1px solid var(--color-text-muted);
                    background-color: var(--color-white);
                }

                >div:first-child {
                    flex-direction: row;
                    justify-content: space-between;
                }

                .btn {
                    width: 100%;
                }
            }

            .agreement {
                font-size: var(--text-xxxs);
                color: var(--color-text-muted);
                text-align: center;
            }
        }
    }
}

#Quote {
    #Quote_content {
        >div:first-child {
            text-align: center;
        }

        #Quote_content_cards {
            .card {
                position: relative;
                padding: var(--spacing-m);
                border-radius: var(--radius-l);
                background-color: var(--color-text-muted-2);
                padding-top: var(--spacing-xl);

                span {
                    font-size: var(--spacing-xxl) !important;
                    color: var(--color-primary);
                    position: absolute;
                    opacity: 0.2;
                    top: var(--spacing-xs);
                    left: var(--spacing-xs);
                }

                p {
                    font-size: var(--text-xs);
                }

                >p {

                    font-style: italic;

                    &::before,
                    &::after {

                        content: '"';
                    }
                }

                >div {
                    >img {
                        height: var(--spacing-xl);
                        width: var(--spacing-xl);
                        object-fit: cover;
                        border-radius: var(--radius-round);
                    }

                    p:first-child {
                        color: var(--color-black);
                        font-weight: var(--weight-semibold);
                    }
                }
            }
        }
    }
}

footer {
    min-height: 100px;
    gap: var(--spacing-xl);
}