* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    transition: all 0.3s ease-in-out;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    -webkit-font-smoothing: antialiased;
    /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale;
    /* Firefox macOS */
    text-rendering: optimizeLegibility;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

h1 {
    font-family: var(--font-main);
    font-size: var(--text-h1);
    font-weight: var(--weight-bold);
    line-height: var(--lh-tight);
}

h2 {
    font-family: var(--font-main);
    font-size: var(--text-h2);
    font-weight: var(--weight-semibold);
    line-height: var(--lh-tight);
}

h3 {
    font-family: var(--font-main);
    font-size: var(--text-h3);
    font-weight: var(--weight-semibold);
    line-height: var(--lh-tight);
}

p {
    font-family: var(--font-main);
    font-size: var(--text-base);
    line-height: var(--lh-base);
    color: var(--color-p-dark);
    font-weight: var(--weight-thin);
    /* Một tone xám dễ đọc */
}

button,
.btn {
    font-family: var(--font-main);
    font-size: var(--text-btn);
    font-weight: var(--weight-medium);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    box-shadow: var(--shadow-primary);
}

.btn-primary {
    background-color: var(--color-secondary);
    color: white;
    border: 1px solid var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
    transform: translateY(-2px);
}

/* Highlight */
::selection {
    background-color: var(--color-primary);
    color: white;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}