* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    object-fit: cover;
    object-position: center;

    transition: all 0.3s ease-in-out;
}

h1 {
    font-family: var(--font-main);
    font-size: var(--text-h1);
    font-weight: var(--weight-bold);
    line-height: var(--lh-tight);
    color: var(--color-secondary);
}

h2 {
    font-family: var(--font-main);
    font-size: var(--text-h2);
    font-weight: var(--weight-semibold);
    line-height: var(--lh-tight);
    color: var(--color-secondary);
}

p {
    font-family: var(--font-main);
    font-size: var(--text-base);
    line-height: var(--lh-base);
    color: #4b5563;
    /* Một tone xám dễ đọc */
}

button,
.btn {
    font-family: var(--font-main);
    font-size: var(--text-btn);
    font-weight: var(--weight-medium);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
    transform: translateY(-2px);
}

/* Highlight */
::selection {
    background-color: var(--color-primary);
    color: white;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}