@media (max-width: 992px) {
    #CoreValue {
        #CoreValue_content h2 {
            margin-top: auto !important;
        }

        .bg svg {
            display: none !important;
        }
    }
}

@media (max-width: 768px) {
    .mobileHide {
        display: none !important;
    }

    #menu-toggle:checked~#hamburger-menu {
        display: flex !important;
    }

    .mobileShow {
        display: block !important;
    }

    .mobileFlexWrap {
        flex-wrap: wrap !important;
    }

    .mobileFlexColumn {
        display: flex !important;
        flex-direction: column !important;
    }

    h1,
    .p-ref-h1 {
        font-size: var(--t-h1-size) !important;
        line-height: var(--t-h1-lh) !important;
    }

    h2,
    .p-ref-h2 {
        font-size: var(--t-h3-size) !important;
        line-height: var(--t-h3-lh) !important;
    }

    h3,
    .p-ref-h3 {
        font-size: var(--t-h4-size) !important;
        line-height: var(--t-h4-lh) !important;
    }

    nav {
        width: 100%;
    }

    #hero .main-content {
        margin: auto !important;
        margin-bottom: var(--spacing-xl) !important;
    }

    #Event_content {
        .card {
            direction: ltr !important;
            grid-template-columns: auto 1fr !important;

            .event_content_cards_mark {
                display: none !important;
            }
        }
    }

    #Feedback #Feedback_content #Feedback_content_cards {
        grid-auto-columns: 100% !important;
    }

    #CourseDetailDescription #CourseDetailDescription_content_purchase_box {
        padding: var(--spacing-s) !important;
        gap: var(--spacing-xxs) !important;
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
        background-color: var(--color-white) !important;
        z-index: 1000 !important;
        filter: drop-shadow(0px -4px 10px rgb(0 0 0/ 0.2))
        drop-shadow(0px -4px 10px rgb(0 0 0/ 0.2));
    }
}