:root {
    /* FONT */
    --font-main: "Be Vietnam Pro", "Arial", sans-serif;
    --font-body: "Be Vietnam Pro", "Arial", sans-serif;
    --font-mono: 'Space Mono', monospace;

    /* --- Brand Colors --- */
    --color-primary: #226A40;
    --color-primary-raw: 34 106 64;
    --color-secondary: #7BC440;
    --color-secondary-raw: 123 196 64;

    --color-dark-contrast: #064320;

    --color-black: #0A0A0A;
    --color-gray-1000: #0F151F;
    --color-gray-800: #555555;
    --color-gray-600: #7F7F7F;
    --color-gray-400: #AAAAAA;
    --color-gray-200: #D4D4D4;
    --color-gray-100: #F2F2F2;
    --color-white: #FFFFFF;

    /* --- Backgrounds --- */
    /* Màu trắng ngà (Off-white) - Dùng cho nền các section phụ */
    --color-bg-light: #f8f9fa;

    /* Màu xanh bạc hà nhạt (Mint) - Dùng cho nền FAQ đang mở */
    --color-bg-mint: #f0f9eb;

    /* --- UI Elements --- */
    /* Màu xám dùng cho các họa tiết chấm (Dot pattern) */
    --color-pattern-dot: #94a3b8;

    /* Màu xanh LinkedIn */
    --color-social-linkedin: #0077b5;

    /* Font Weights */
    --weight-thin: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;

    /* Line Heights */
    --lh-tight: 1.2;
    --lh-base: 1.6;

    /* Text set */
    --t-h1-size: 72px;
    --t-h1-lh: 1.3;
    --t-h1-weight: var(--weight-semibold);
    --t-h2-size: 48px;
    --t-h2-lh: 1.3;
    --t-h2-weight: var(--weight-bold);
    --t-h3-size: 36px;
    --t-h3-lh: 1.5;
    --t-h3-weight: var(--weight-bold);
    --t-h4-size: 24px;
    --t-h4-lh: 1.5;
    --t-h4-weight: var(--weight-bold);
    --t-body-size: 16px;
    --t-body-lh: 1.6;
    --t-body-weight: var(--weight-regular);
    --t-subbody-size: 14px;
    --t-subbody-lh: 1.5;
    --t-subbody-weight: var(--weight-regular);
    --t-mini-size: 10px;
    --t-mini-lh: 1.6;
    --t-mini-weight: var(--weight-regular);
    --t-button-size: 16px;
    --t-button-lh: 1.5;
    --t-button-weight: var(--weight-bold);


    /* SPACING */
    --spacing-xxxs: 4px;
    --spacing-xxs: 8px;
    --spacing-xs: 12px;
    --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;
    --spacing-xxxl: 84px;

    /* --- Elevation & Shadows --- */
    --shadow-xs: 0px 1px 1px rgb(0 0 0/ 0.1);
    --shadow-s: 0px 2px 2px rgb(0 0 0/ 0.1);
    --shadow-m: 0px 4px 4px rgb(0 0 0/ 0.1);
    --shadow-l: 0px 8px 8px rgb(0 0 0/ 0.2);
    --shadow-xl: 0px 12px 12px rgb(0 0 0/ 0.2);
    --shadow-xxl: 0px 16px 16px rgb(0 0 0/ 0.2);

    --shadow-primary: 0 10px 15px -3px rgb(var(--color-primary-raw) / 0.3);
    /* --shadow-primary: 0 10px 15px -3px rgba(123, 196, 64, 0.3); */

    /* --- Effects & Transitions --- */
    --transition-fast: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-base: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition-slow: 700ms cubic-bezier(0.4, 0, 0.2, 1);

    /* --- Border Radius --- */
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-l: 16px;
    --radius-xl: 32px;
    --radius-round: 9999px;
}