<div>
  <style>
    /* ================= ABOUT US ================= */

    #AboutUs #AboutUs_content {
      gap: calc(var(--spacing-xl) * 3);
    }

    /* ---------- LEFT ---------- */

    #AboutUs #AboutUs_content .left {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--spacing-m);
      padding-bottom: var(--spacing-l);
    }

    #AboutUs #AboutUs_content .left .left-item {
      flex: 1;
      position: relative;
      overflow: hidden;
      border-radius: var(--radius-m);
      aspect-ratio: 1;
    }

    #AboutUs #AboutUs_content .left .left-item > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-primary);
      opacity: 0.1;
    }

    #AboutUs #AboutUs_content .left .left-item > div:hover {
      opacity: 0;
    }

    #AboutUs #AboutUs_content .left .left-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    #AboutUs #AboutUs_content .left .left-item:nth-child(even) {
      transform: translateY(var(--spacing-l));
    }

    /* ---------- RIGHT ---------- */

    #AboutUs #AboutUs_content .right {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-m);
    }

    #AboutUs #AboutUs_content .right h2 p:first-child {
      font-weight: var(--weight-regular);
    }

    #AboutUs #AboutUs_content .right h2 p:last-child {
      color: var(--color-primary);
    }

    /* d-row */

    #AboutUs #AboutUs_content .right .d-row-h-between {
      column-gap: var(--spacing-l);
      row-gap: var(--spacing-s);
    }

    #AboutUs #AboutUs_content .right .d-row-h-between .p-ref-h3 {
      color: var(--color-primary);
    }

    /* ---------- CONTENT MOBILE ---------- */

    @media (max-width: 767px) {
      #AboutUs #AboutUs_content {
        gap: var(--spacing-xl);
      }
    }

    /* ---------- BG ---------- */

    #AboutUs .bg {
      background-color: var(--color-gray-400);
      opacity: 0.1;
      width: 100%;
      height: 300%;
      top: 0;
      left: 65%;
      z-index: -1;
      --tw-translate-x: 5rem;
      --tw-skew-x: -12deg;
      transform: rotate(10deg);
    }
  </style>

  <section id="AboutUs" class="relative">
    <div class="bg absolute"></div>
    <div id="AboutUs_content" class="col2Grid mobileFlexColumn maxWidth1300">
      <div class="left">
        <div class="left-item">
          <div></div>
          <img
            binding-imgpath="https://static.izzi.asia/images/2026/2/15/2602154946_Aboutus2.jpg"
            src="https://static.izzi.asia/images/2026/2/15/2602154946_Aboutus2.jpg"
            alt=""
          />
        </div>
        <div class="left-item">
          <div></div>
          <img
            binding-imgpath="https://static.izzi.asia/images/2026/2/15/2602157491_Aboutus3.jpg"
            src="https://static.izzi.asia/images/2026/2/15/2602157491_Aboutus3.jpg"
            alt=""
          />
        </div>
        <div class="left-item">
          <div></div>
          <img
            binding-imgpath="https://static.izzi.asia/images/2026/2/15/2602151963_Aboutus.jpg"
            src="https://static.izzi.asia/images/2026/2/15/2602151963_Aboutus.jpg"
            alt=""
          />
        </div>
        <div class="left-item">
          <div></div>
          <img
            binding-imgpath="https://static.izzi.asia/images/2026/2/15/2602154138_Aboutus1.JPG"
            src="https://static.izzi.asia/images/2026/2/15/2602154138_Aboutus1.JPG"
            alt=""
          />
        </div>
      </div>

      <div class="right">
        <div class="tag tag-tail" binding-name="Tầm nhìn toàn cầu">
          Tầm nhìn toàn cầu
        </div>
        <h2>
          <p class="p-ref-h2" binding-name="Kiến tạo hệ sinh thái">
            Kiến tạo hệ sinh thái
          </p>
          <p
            class="p-ref-h2"
            binding-name="Khởi nghiệp Công nghệ."
            class="title-bold"
          >
            Khởi nghiệp Công nghệ.
          </p>
        </h2>
        <p
          class="title-description text-justify"
          binding-subdescription="          Founder Institute Vietnam (FIV) là đối tác và đại diện tại Việt Nam của hệ sinh thái khởi nghiệp toàn cầu Founder Institute (FI). Với quy mô lớn nhất thế giới, FI có mặt ở hơn 100 quốc gia, tại hơn 200 thành phố, cùng hơn 35.000 mentor, với tổng định giá các công ty trong danh mục hơn 20 tỷ USD, trong đó có 4 unicorn. FIV mong muốn định hình lại vị thế của Việt Nam trên bản đồ khởi nghiệp thế giới, thông qua việc chuẩn hóa quy trình đào tạo, ươm tạo và tăng tốc khởi nghiệp, cũng như kết nối dòng vốn đầu tư mạo hiểm toàn cầu vào những ý tưởng đột phá nhất của các founder Việt."
        >
          Founder Institute Vietnam (FIV) là đối tác và đại diện tại Việt Nam
          của hệ sinh thái khởi nghiệp toàn cầu Founder Institute (FI). Với quy
          mô lớn nhất thế giới, FI có mặt ở hơn 100 quốc gia, tại hơn 200 thành
          phố, cùng hơn 35.000 mentor, với tổng định giá các công ty trong danh
          mục hơn 20 tỷ USD, trong đó có 4 unicorn. FIV mong muốn định hình lại
          vị thế của Việt Nam trên bản đồ khởi nghiệp thế giới, thông qua việc
          chuẩn hóa quy trình đào tạo, ươm tạo và tăng tốc khởi nghiệp, cũng như
          kết nối dòng vốn đầu tư mạo hiểm toàn cầu vào những ý tưởng đột phá
          nhất của các founder Việt.
        </p>
        <hr />
        <div class="d-row-h-between">
          <div>
            <p class="p-ref-h3" binding-name="100+">100+</p>
            <p class="p-subbody" binding-name="Quốc gia">Quốc gia</p>
          </div>
          <div>
            <p class="p-ref-h3" binding-name="200+">200+</p>
            <p class="p-subbody" binding-name="              Thành phố">
              Thành phố
            </p>
          </div>
          <div>
            <p class="p-ref-h3" binding-name="35K+">35K+</p>
            <p class="p-subbody" binding-name="              Cố vấn            ">
              Cố vấn
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
