<div>
  <style>
    #Related {
      background-color: var(--color-bg-light);
    }

    /* ================= Related Content ================= */

    #Related #Related_content {
      gap: var(--spacing-m);
      padding-bottom: var(--spacing-l);
    }

    /* ---------- Category list ---------- */

    #Related #Related_content #Related_content_cate_list {
      justify-content: space-between;
      width: 100%;
    }

    #Related #Related_content #Related_content_cate_list div:first-child {
      flex-wrap: wrap;
    }

    /* ---------- Card Top ---------- */

    #Related #Related_content_cards .card .top {
      width: 100%;
      aspect-ratio: 16 / 9;
      position: relative;
    }

    #Related #Related_content_cards .card .top img {
      height: 100%;
      width: 100%;
    }

    #Related #Related_content_cards .card .top .tag {
      position: absolute;
      top: var(--spacing-s);
      right: var(--spacing-s);
      z-index: 1;

      font-size: var(--t-mini-size);
      font-weight: var(--weight-bold);
      letter-spacing: normal;

      color: var(--color-secondary);
      background-color: var(--color-white);

      padding: var(--spacing-xxxs) var(--spacing-xs);
      border-radius: var(--radius-round);
    }

    #Related #Related_content_cards .card .top .tag::before {
      content: "";
    }

    /* ---------- Card Bottom ---------- */

    #Related #Related_content_cards .card .bottom {
      padding: var(--spacing-m);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-s);

      font-size: var(--t-subbody-size);
      color: var(--color-gray-800);
      font-weight: var(--weight-thin);
    }

    #Related #Related_content_cards .card .bottom span {
      color: var(--color-primary);
      font-size: var(--t-body-size) !important;
    }

    #Related #Related_content_cards .card .bottom h4 {
      font-size: var(--t-body-size);
      line-height: var(--t-subbody-lh);
    }

    #Related #Related_content_cards .card .bottom h4 + div p {
      font-size: var(--t-mini-size);
    }

    #Related #Related_content_cards .card .bottom h4 + div div:first-child p {
      font-weight: var(--weight-semibold);
    }

    #Related #Related_content_cards .card .bottom .description * {
      font-size: var(--t-subbody-size);
      line-height: var(--t-subbody-lh);
    }

    #Related #Related_content_cards .card .bottom .btn {
      text-decoration: none;
    }

    #Related #Related_content_cards .card .goto-button {
      color: var(--color-black);
      font-size: var(--t-subbody-size);
      font-weight: var(--weight-semibold);
      line-height: var(--t-subbody-lh);
      text-decoration: none;
    }

    /* ---------- Hover ---------- */

    #Related #Related_content_cards .card:hover {
      transform: translateY(calc(-1 * var(--spacing-xxxs)));
      filter: drop-shadow(var(--shadow-xl)) drop-shadow(var(--shadow-m));
    }

    #Related #Related_content_cards .card:hover .top img {
      transform: scale(1.1);
    }

    #Related #Related_content_cards .card .goto-button:hover {
      color: var(--color-secondary);
      
    }
  </style>

  <section id="Related" class="relative">
    <div id="Related_content" class="maxWidth1300 d-column-h-center gap-m">
      <div class="d-column-h-center gap-xs">
        <p class="tag" binding-name="Đào tạo chuyên sâu">
          Đào tạo chuyên sâu
        </p>
        <h3 binding-name="Khóa học liên quan">
          Khóa học liên quan
        </h3>
        <p
          binding-name='Kỹ năng thực chiến dành cho Founder bận rộn, tập trung vào những "nút thắt" quan trọng nhất.''
        >
            Kỹ năng thực chiến dành cho Founder bận rộn, tập trung vào những "nút thắt" quan trọng nhất.
        </p>
      </div>

      <!-- ================= Category list ================= -->
    </div>

    <!-- ================= Cards ================= -->

    <div id="Related_content_cards" class="maxWidth1300 cards-slider-container">
      <!-- Controller -->
      <div class="cards-slider-controller mobileHide gap-xxs">
        <div class="cards-slider-controller-prev button-primary button-rounded">
          <span class="material-symbols-outlined"> chevron_left </span>
        </div>
        <div class="cards-slider-controller-next button-primary button-rounded">
          <span class="material-symbols-outlined"> chevron_right </span>
        </div>
      </div>

      <!-- List start -->
      <div
        class="card"
        Related-cate="{{subDescription}}"
        repeat="product|param:categories.id:dataSection|size:5|sort:createdDate:desc|includes:"
      >
        <div class="top">
          <img src="https://static.izzi.asia{{images.path}}" alt="{{name}}" />
          <!-- <div class="tag">{{categories[1].subDescription}}</div> -->
        </div>

        <div class="bottom">
          <a href="/{{languageCode}}/san-pham/{{friendlyUrl}}" class="goto-button">
            <h4 class="lineclamp-keep-height-2">{{name}}</h4>
          </a>
          <!-- <div class="d-column gap-xxxs">
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> person </span>
              <p class="lineclamp-keep-height-1">{{subDescription}}</p>
            </div>
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> schedule </span>
              <p class="lineclamp-keep-height-1">{{metaDescription}}</p>
            </div>
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> location_on </span>
              <p class="lineclamp-keep-height-1">{{metaName}}</p>
            </div>
          </div> -->
          <div class="description lineclamp-keep-height-3">{{description}}</div>
          <a
            class="goto-button btn-buynow Related-grid-cart-btn buyNow createOrder"
            data-id="{{id}}"
          >
            Đăng ký ngay
          </a>
        </div>
      </div>

      <!-- List end -->
    </div>

    <!-- ================= View all button ================= -->

    <div class="view-all-btn">
      <a
        class="button-secondary button-medium"
        href="/danh-sach-khoa-hoc"
        binding-btntext="        Xem thêm    "
        binding-btnhref=""
      >
        Xem thêm
      </a>
    </div>
  </section>
</div>
