<div>
  <style>
    #Course {
      background-color: var(--color-bg-light);
    }

    /* ================= Course Content ================= */

    #Course #Course_content {
      gap: var(--spacing-m);
      padding-bottom: var(--spacing-l);
    }

    /* ---------- Category list ---------- */

    #Course #Course_content #Course_content_cate_list {
      justify-content: space-between;
      width: 100%;
    }

    #Course #Course_content #Course_content_cate_list div:first-child {
      flex-wrap: wrap;
    }

    #Course #Course_content #Course_content_cate_list label,
    #Course .btn-2 {
      border: 1px solid var(--color-text-muted-2);
      color: var(--color-gray-400);
      background-color: var(--color-white);
      font-size: var(--text-xs);
    }

    #Course #Course_content #Course_content_cate_list label:hover,
    #Course .btn-2:hover {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }

    #Course #Course_content_cards .card {
      display: none;
    }

    /* ---------- Card Top ---------- */

    #Course #Course_content_cards .card .top {
      width: 100%;
      aspect-ratio: 16 / 9;
      position: relative;
    }

    #Course #Course_content_cards .card .top img {
      height: 100%;
      width: 100%;
    }

    #Course #Course_content_cards .card .top .tag {
      position: absolute;
      top: var(--spacing-s);
      right: var(--spacing-s);
      z-index: 1;

      font-size: var(--text-xxxs);
      font-weight: var(--weight-bold);
      letter-spacing: normal;

      color: var(--color-secondary);
      background-color: var(--color-white);

      padding: var(--spacing-xxxs) var(--spacing-xs);
      border-radius: var(--radius-round);
    }

    #Course #Course_content_cards .card .top .tag::before {
      content: "";
    }

    /* ---------- Card Bottom ---------- */

    #Course #Course_content_cards .card .bottom {
      padding: var(--spacing-m);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-s);
    }

    #Course #Course_content_cards .card .bottom {
      font-size: var(--text-xs);
      color: var(--color-gray-400);
      font-weight: var(--weight-thin);
    }

    #Course #Course_content_cards .card .bottom span {
      color: var(--color-primary);
      font-size: var(--text-s) !important;
    }

    #Course #Course_content_cards .card .bottom h4 {
      font-size: var(--text-xs);
      line-height: var(--lineheight-xs);
      min-height: calc(var(--lineheight-xs) * 2);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    #Course #Course_content_cards .card .bottom h4 + div p {
      font-size: var(--text-xxs);
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    #Course #Course_content_cards .card .bottom h4 + div div:first-child p {
      font-weight: var(--weight-semibold);
    }

    #Course #Course_content_cards .card .bottom .description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      min-height: calc(var(--lineheight-xs) * 2);
    }

    #Course #Course_content_cards .card .bottom .description * {
      font-size: var(--text-xs);
      line-height: var(--lineheight-xs);
    }

    #Course #Course_content_cards .card .bottom .btn {
      text-decoration: none;
    }

    /* ---------- Hover ---------- */

    #Course #Course_content_cards .card:hover {
      transform: translateY(calc(-1 * var(--spacing-xxxs)));
      filter: drop-shadow(var(--shadow-xl)) drop-shadow(var(--shadow-m));
    }

    #Course #Course_content_cards .card:hover .top img {
      transform: scale(1.1);
    }

    #Course #Course_content_cards .card:hover .bottom .btn {
      filter: drop-shadow(var(--shadow-m));
    }
  </style>

  <style
    repeat="category|param:parentId:7f8ad86d-404d-c0a9-69d2-36aed2d53306|sort:displayOrder:asc|includes:"
  >
    /* ================= Active category button ================= */

    #Course
      input[name="Course_content_cate"][id="Course_content_cate_all"]:checked
      ~ #Course_content
      #Course_content_cate_list
      label[for="Course_content_cate_all"],
    #Course
      input[name="Course_content_cate"][id="{{name}}"]:checked
      ~ #Course_content
      #Course_content_cate_list
      label[for="{{name}}"] {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }

    /* ================= Show cards by category ================= */

    #Course
      input[name="Course_content_cate"][id="Course_content_cate_all"]:checked
      ~ #Course_content_cards
      > div[course-cate],
    #Course
      input[name="Course_content_cate"][id="{{name}}"]:checked
      ~ #Course_content_cards
      > div[course-cate="{{name}}"] {
      display: block;
    }
  </style>

  <section id="Course" class="relative">
    <!-- Logic Radio -->
    <input
      re=""
      type="radio"
      name="Course_content_cate"
      hidden=""
      id="Course_content_cate_all"
      checked=""
    />
    <input
      repeat="category|param:parentId:7f8ad86d-404d-c0a9-69d2-36aed2d53306|sort:displayOrder:asc|includes:"
      type="radio"
      name="Course_content_cate"
      hidden=""
      id="{{name}}"
    />

    <div id="Course_content" class="maxWidth1300">
      <div class="d-column-h-center gap-xs">
        <p class="tag" binding-name="OUR INNOVATIVE PROGRAMS">
          OUR INNOVATIVE PROGRAMS
        </p>
        <h3 class="" binding-name="CÁC CHƯƠNG TRÌNH ĐỔI MỚI SÁNG TẠO">
          CÁC CHƯƠNG TRÌNH ĐỔI MỚI SÁNG TẠO
        </h3>
        <p
          binding-subdescription="Founder Institute Vietnam không chỉ cung cấp các chương trình đào tạo, ươm tạo và tăng tốc cho các doanh nhân khởi nghiệp, các doanh nghiệp công nghệ, mà còn tư vấn và triển khai các chương trình đào tạo và đổi mới sáng tạo cho các tổ chức và doanh nghiệp quy mô vừa và lớn."
        >
          Founder Institute Vietnam không chỉ cung cấp các chương trình đào tạo,
          ươm tạo và tăng tốc cho các doanh nhân khởi nghiệp, các doanh nghiệp
          công nghệ, mà còn tư vấn và triển khai các chương trình đào tạo và đổi
          mới sáng tạo cho các tổ chức và doanh nghiệp quy mô vừa và lớn.
        </p>
      </div>

      <div class="d-row-v-center gap-m" id="Course_content_cate_list">
        <div class="d-row gap-xxs">
          <label
            class="btn-2"
            for="Course_content_cate_all"
            binding-name="Tất cả"
            >Tất cả</label
          >
          <label
            repeat="category|param:parentId:7f8ad86d-404d-c0a9-69d2-36aed2d53306|sort:displayOrder:asc|includes:"
            class="btn-2"
            for="{{name}}"
            >{{subDescription}}</label
          >
        </div>
      </div>
    </div>

    <div id="Course_content_cards" class="maxWidth1300 cards-slider-container">
      <!-- Controller -->
      <div class="cards-slider-controller mobileHide gap-xxs">
        <div class="cards-slider-controller-prev button-primary-2">
          <span class="material-symbols-outlined"> chevron_left </span>
        </div>
        <div class="cards-slider-controller-next button-primary-2">
          <span class="material-symbols-outlined"> chevron_right </span>
        </div>
      </div>

      <!-- List start -->
      <div
        class="card"
        course-cate="{{metaKeyword}}"
        repeat="article|size:20|sort:postTime:desc|param:categories.id:89a3995d-a667-ff2b-0527-e1fb836557b3|includes:"
      >
        <div class="top">
          <img src="https://static.izzi.asia/{{images.path}}" alt="{{name}}" />
          <!-- <div class="tag">{{categories[1].subDescription}}</div> -->
        </div>

        <div class="bottom">
          <h4>{{name}}</h4>
          <div class="d-column gap-xxxs">
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> person </span>
              <p>{{subDescription}}</p>
            </div>
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> schedule </span>
              <p>{{metaDescription}}</p>
            </div>
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> location_on </span>
              <p>{{metaName}}</p>
            </div>
          </div>
          <div class="description">{{description}}</div>
          <a
            class="btn btn-secondary"
            href="/{{languageCode}}/khoa-hoc/{{friendlyUrl}}"
          >
            Đăng ký ngay
          </a>
        </div>
      </div>

      <!-- List end -->
    </div>

    <div class="view-all-btn">
      <button class="button-secondary" binding-btntext="Xem thêm" binding-btnhref="">Xem thêm</button>
    </div>
  </section>
</div>
