<div>
  <style>
    #Course {
      background-color: var(--color-bg-light);
    }

    /* ================= Course Content ================= */

    #Course #Course_content {
      gap: var(--spacing-m);
      padding-bottom: var(--spacing-l);
    }

    /* ---------- Category list ---------- */

    #Course #Course_content #Course_content_cate_list {
      justify-content: space-between;
      width: 100%;
    }

    #Course #Course_content #Course_content_cate_list div:first-child {
      flex-wrap: wrap;
    }

    #Course #Course_content_cards .card {
      display: none;
    }

    /* ---------- Card Top ---------- */

    #Course #Course_content_cards .card .top {
      width: 100%;
      aspect-ratio: 16 / 9;
      position: relative;
    }

    #Course #Course_content_cards .card .top img {
      height: 100%;
      width: 100%;
    }

    #Course #Course_content_cards .card .top .tag {
      position: absolute;
      top: var(--spacing-s);
      right: var(--spacing-s);
      z-index: 1;

      font-size: var(--t-mini-size);
      font-weight: var(--weight-bold);
      letter-spacing: normal;

      color: var(--color-secondary);
      background-color: var(--color-white);

      padding: var(--spacing-xxxs) var(--spacing-xs);
      border-radius: var(--radius-round);
    }

    #Course #Course_content_cards .card .top .tag::before {
      content: "";
    }

    /* ---------- Card Bottom ---------- */

    #Course #Course_content_cards .card .bottom {
      padding: var(--spacing-m);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-s);

      font-size: var(--t-subbody-size);
      color: var(--color-gray-800);
      font-weight: var(--weight-thin);
    }

    #Course #Course_content_cards .card .bottom span {
      color: var(--color-primary);
      font-size: var(--t-body-size) !important;
    }

    #Course #Course_content_cards .card .bottom h4 {
      font-size: var(--t-body-size);
      line-height: var(--t-subbody-lh);
    }

    #Course #Course_content_cards .card .bottom h4 + div p {
      font-size: var(--t-mini-size);
    }

    #Course #Course_content_cards .card .bottom h4 + div div:first-child p {
      font-weight: var(--weight-semibold);
    }

    #Course #Course_content_cards .card .bottom .description * {
      font-size: var(--t-subbody-size);
      line-height: var(--t-subbody-lh);
    }

    #Course #Course_content_cards .card .bottom .btn {
      text-decoration: none;
    }

    #Course #Course_content_cards .card .goto-button {
      color: var(--color-black);
      font-size: var(--t-subbody-size);
      font-weight: var(--weight-semibold);
      line-height: var(--t-subbody-lh);
      text-decoration: none;
    }

    /* ---------- Hover ---------- */

    #Course #Course_content_cards .card:hover {
      transform: translateY(calc(-1 * var(--spacing-xxxs)));
      filter: drop-shadow(var(--shadow-xl)) drop-shadow(var(--shadow-m));
    }

    #Course #Course_content_cards .card:hover .top img {
      transform: scale(1.1);
    }

    #Course #Course_content_cards .card .goto-button:hover {
      color: var(--color-secondary);
    }
  </style>

  <style
    repeat="category|param:parentId:344b2464-7aa3-3089-ac04-fe240adcfee2|sort:displayOrder:asc|includes:"
  >
    /* ================= Active category button ================= */

    #Course #Course_content_cate_list .button-chip:has(input:checked) {
      background-color: var(--color-secondary);
      color: var(--color-white);
    }

    /* ================= Show cards by category ================= */

    /* ALL */
    #Course:has(input[name="Course_content_cate"][value="all"]:checked)
      #Course_content_cards
      > .card {
      display: block;
    }

    /* CATEGORY */
    #Course:has(input[name="Course_content_cate"][value="{{name}}"]:checked)
      #Course_content_cards
      > .card[course-cate*="{{name}}"] {
      display: block;
    }
  </style>

  <section id="Course" class="relative">
    <div id="Course_content" class="maxWidth1300 d-column-h-center gap-m">
      <div class="d-column-h-center gap-xs">
        <p class="tag" binding-name="OUR INNOVATIVE PROGRAMS">
          OUR INNOVATIVE PROGRAMS
        </p>
        <h3 binding-name="CÁC CHƯƠNG TRÌNH ĐỔI MỚI SÁNG TẠO">
          CÁC CHƯƠNG TRÌNH ĐỔI MỚI SÁNG TẠO
        </h3>
        <p
          binding-name="Founder Institute Vietnam không chỉ cung cấp các chương trình đào tạo, ươm tạo và tăng tốc..."
        >
          Founder Institute Vietnam không chỉ cung cấp các chương trình đào tạo,
          ươm tạo và tăng tốc...
        </p>
      </div>

      <!-- ================= Category list ================= -->

      <div class="d-row-v-center gap-m" id="Course_content_cate_list">
        <div class="d-row gap-xxs">
          <!-- ALL -->
          <label class="button-chip">
            <input
              type="radio"
              name="Course_content_cate"
              hidden
              value="all"
              checked
            />
            Tất cả
          </label>

          <!-- CATEGORY -->
          <label
            repeat="category|param:parentId:344b2464-7aa3-3089-ac04-fe240adcfee2|sort:displayOrder:asc|includes:"
            class="button-chip"
          >
            <input
              type="radio"
              name="Course_content_cate"
              hidden
              value="{{name}}"
            />
            {{name}}
          </label>
        </div>
      </div>
    </div>

    <!-- ================= Cards ================= -->

    <div id="Course_content_cards" class="maxWidth1300 cards-slider-container">
      <!-- Controller -->
      <div class="cards-slider-controller mobileHide gap-xxs">
        <div class="cards-slider-controller-prev button-primary button-rounded">
          <span class="material-symbols-outlined"> chevron_left </span>
        </div>
        <div class="cards-slider-controller-next button-primary button-rounded">
          <span class="material-symbols-outlined"> chevron_right </span>
        </div>
      </div>

      <!-- List start -->
      <div
        class="card"
        course-cate="{{subDescription}}"
        repeat="product|size:20|param:type:32|includes:"
      >
        <div class="top">
          <img src="https://static.izzi.asia{{images.path}}" alt="{{name}}" />
          <!-- <div class="tag">{{categories[1].subDescription}}</div> -->
        </div>

        <div class="bottom">
          <a
            href="/{{languageCode}}/san-pham/{{friendlyUrl}}"
            class="goto-button"
          >
            <h4 class="lineclamp-keep-height-2">{{name}}</h4>
          </a>
          <!-- <div class="d-column gap-xxxs">
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> person </span>
              <p class="lineclamp-keep-height-1">{{subDescription}}</p>
            </div>
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> schedule </span>
              <p class="lineclamp-keep-height-1">{{metaDescription}}</p>
            </div>
            <div class="d-row-v-center gap-xxxs">
              <span class="material-symbols-outlined"> location_on </span>
              <p class="lineclamp-keep-height-1">{{metaName}}</p>
            </div>
          </div> -->
          <div class="description lineclamp-keep-height-3">{{description}}</div>
          <a
            class="goto-button btn-buynow course-grid-cart-btn buyNow createOrder"
            data-id="{{id}}"
          >
            Đăng ký ngay
          </a>
        </div>
      </div>

      <!-- List end -->
    </div>

    <!-- ================= View all button ================= -->

    <div class="view-all-btn">
      <a
        class="button-secondary button-medium"
        href="pages/danh-sach-khoa-hoc"
        binding-btntext="        Xem thêm    "
        binding-btnhref=""
      >
        Xem thêm
      </a>
    </div>
  </section>
</div>
