<style>
  /* ================= EVENT ================= */

  #Event #Event_content {
    gap: var(--spacing-xxs);
  }

  #Event #Event_content .tag {
    color: var(--color-primary);
  }

  #Event #Event_content > h3 {
    color: var(--color-secondary);
  }

  /* ---------- CATEGORY SELECTOR ---------- */

  #Event #Event_content #Event_content_cate_selector {
    padding: var(--spacing-xxxs);
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-m);
    background-color: var(--color-text-muted-2);
    border-radius: var(--radius-round);
    border: 1px solid var(--color-text-muted);
  }

  #Event #Event_content #Event_content_cate_selector label {
    padding: var(--spacing-xxs) var(--spacing-m);
    border-radius: var(--radius-round);
    color: var(--color-p-dark);
    font-size: var(--text-xxxs);
    font-weight: var(--weight-semibold);
    text-transform: uppercase;
    cursor: pointer;
  }

  /* ---------- CHECKED STATE ---------- */

  #Event #all:checked ~ div label[for="all"],
  #Event #q4_2024:checked ~ div label[for="q4_2024"],
  #Event #q1_2025:checked ~ div label[for="q1_2025"] {
    background-color: var(--color-secondary);
    color: var(--color-white) !important;
  }

  #Event #q4_2024:checked ~ div div[event-cate],
  #Event #q1_2025:checked ~ div div[event-cate] {
    display: none;
  }

  #Event #q4_2024:checked ~ div div[event-cate="q4_2024"],
  #Event #q1_2025:checked ~ div div[event-cate="q1_2025"] {
    display: grid;
  }

  /* ---------- CARDS ---------- */

  #Event #Event_content_cards {
    width: 100%;
    max-width: 1240px;
  }

  #Event #Event_content_cards .card:nth-child(2n + 1) {
    direction: rtl;
  }

  #Event #Event_content_cards .card {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 5vw;
  }

  /* mark */

  #Event #Event_content_cards .card .event_content_cards_mark {
    font-weight: var(--weight-bold);
    font-size: var(--spacing-xxxl);
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
    opacity: 0.1;
    flex: 1;
  }

  /* ---------- TIMELINE ---------- */

  #Event #Event_content_cards .card .rounded {
    height: inherit;
    position: relative;
  }

  #Event #Event_content_cards .card .rounded .rounded-dot {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    aspect-ratio: 1;
    width: var(--spacing-s);
    height: var(--spacing-s);

    background-color: var(--color-text-muted);
    border-radius: var(--radius-round);
    border: 2px solid rgba(255, 255, 255, 0.2);

    outline: 0 solid var(--color-primary);
    outline-offset: calc(-1 * var(--spacing-xs) / 2);
  }

  #Event #Event_content_cards .card .rounded .rounded-line {
    width: 2px;
    height: 100%;
    background-color: var(--color-text-muted);
    overflow: hidden;
  }

  #Event #Event_content_cards .card .rounded .rounded-line > div {
    width: 100%;
    height: 0%;
    background-color: var(--color-primary);
    animation: progressV 3s ease-in-out infinite;
  }

  /* ---------- CARD ITEM ---------- */

  #Event #Event_content_cards .card .card-item {
    direction: ltr;
    overflow: hidden;

    border-radius: var(--radius-l);
    margin-bottom: var(--spacing-l);

    filter: drop-shadow(var(--shadow-l));
  }

  /* top */

  #Event #Event_content_cards .card .card-item .top {
    height: 20dvh;
    min-height: 200px;
    padding: var(--spacing-s);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  #Event #Event_content_cards .card .card-item .top h4 {
    color: var(--color-white);
  }

  #Event #Event_content_cards .card .card-item .top img {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  #Event #Event_content_cards .card .card-item .top div[state] {
    top: var(--spacing-s);
    right: var(--spacing-s);
    z-index: 1;
    font-size: var(--text-xxxs);
  }

  /* ---------- STATE ---------- */

  #Event #Event_content_cards .card .card-item .top div[state="0"]::after {
    content: "Ended";
    background-color: var(--color-social-linkedin);
    padding: var(--spacing-xxxs) var(--spacing-xs);
    border-radius: var(--radius-round);
    color: var(--color-white);
  }

  #Event #Event_content_cards .card .card-item .top div[state="1"]::after {
    content: "Ongoing";
    display: inline-block;
    padding: 2px 8px;
    border-radius: 999px;
    color: #fff;
    animation: breatheState1 1.2s ease-in-out infinite alternate;
  }

  #Event #Event_content_cards .card .card-item .top div[state="2"]::after {
    content: "Upcoming";
    background-color: var(--color-primary);
    padding: var(--spacing-xxxs) var(--spacing-xs);
    border-radius: var(--radius-round);
    color: var(--color-white);
  }

  #Event #Event_content_cards .card .card-item .top div[state="3"]::after {
    content: "Registration open";
    background-color: var(--color-secondary);
    padding: var(--spacing-xxxs) var(--spacing-xs);
    border-radius: var(--radius-round);
    color: var(--color-white);
  }

  #Event #Event_content_cards .card .card-item .top div[state="4"]::after {
    content: "Scheduled";
    background-color: var(--color-secondary);
    padding: var(--spacing-xxxs) var(--spacing-xs);
    border-radius: var(--radius-round);
    color: var(--color-white);
  }

  /* ---------- BOTTOM ---------- */

  #Event #Event_content_cards .card .card-item .bottom {
    background-color: var(--color-white);
    padding: var(--spacing-m);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  #Event #Event_content_cards .card .card-item .bottom p {
    font-size: var(--text-xxs);
  }

  #Event #Event_content_cards .card .card-item .bottom span {
    font-weight: var(--weight-regular);
    font-size: var(--text-xxs) !important;
    color: var(--color-primary);
  }

  #Event #Event_content_cards .card .card-item .bottom .time {
    display: flex;
    gap: var(--spacing-xs);
  }

  #Event #Event_content_cards .card .card-item .bottom .time div {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxxs);
  }

  #Event #Event_content_cards .card .card-item .bottom .time div span {
    font-weight: var(--weight-regular);
    font-size: var(--text-xxs) !important;
    color: var(--color-primary);
  }

  #Event #Event_content_cards .card .card-item .bottom .time div p {
    font-weight: var(--weight-semibold);
    text-transform: uppercase;
  }

  #Event #Event_content_cards .card .card-item .bottom div {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxxs);
  }

  /* ---------- HOVER ---------- */

  #Event #Event_content_cards .card:hover .rounded .rounded-dot {
    background-color: var(--color-white);
    outline: calc(var(--spacing-xs) / 2) solid var(--color-primary);
    outline-offset: calc(-1 * var(--spacing-xs) / 2);
  }

  #Event #Event_content_cards .card:hover .rounded .rounded-line div {
    animation: none;
    height: 100%;
    transition: height 0.7s ease-out;
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--color-primary) 50%,
      transparent 100%
    );
  }

  #Event #Event_content_cards .card:hover .card-item {
    filter: drop-shadow(var(--shadow-xxl)) drop-shadow(var(--shadow-l));
  }

  /* ---------- BG ---------- */

  #Event .bg {
    z-index: -2;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #Event .bg img {
    opacity: 0.4;
  }
</style>

<section id="Event" class="relative">
  <div class="bg absolute">
    <img
      src="https://static.izzi.asia/templates/FIVN/svg/dot-pattern.svg"
      alt=""
    />
  </div>

  <div id="Event_content" class="d-column-h-center">
    <!-- Logic Radio -->

    <input type="radio" name="Event_content_cate" hidden id="all" checked />
    <input type="radio" name="Event_content_cate" hidden id="q4_2024" />
    <input type="radio" name="Event_content_cate" hidden id="q1_2025" />

    <p class="tag" binding-name="Lịch trình">Lịch trình</p>
    <h3 binding-name="Sự kiện & Hoạt động">Sự kiện & Hoạt động</h3>

    <div class="d-row" id="Event_content_cate_selector">
      <label for="all" binding="Tất cả">Tất cả</label>
      <label for="q4_2024" binding="Q4 2024">Q4 2024</label>
      <label for="q1_2025" binding="Q1 2025">Q1 2025</label>
    </div>
    <div
      repeat="event|param:id:a1d8bf9b-d909-4c2c-0326-54a35c390c60|size:9|includes:"
    >
      {{name}} - {{addresses}}
    </div>

    <div id="Event_content_cards">
      <div class="card relative d-row gap-m" event-cate="q4_2024">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="1"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 OCT 2024">15 OCT 2024</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card relative d-row gap-m" event-cate="q4_2024">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="2"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 NOV 2024">15 NOV 2024</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card relative d-row gap-m" event-cate="q4_2024">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="3"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 DEC 2024">15 DEC 2024</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card relative d-row gap-m" event-cate="q4_2024">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="4"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 DEC 2024">15 DEC 2024</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card relative d-row gap-m" event-cate="q1_2025">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="4"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 DEC 2024">15 DEC 2024</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card relative d-row gap-m" event-cate="q1_2025">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="4"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 DEC 2024">15 DEC 2024</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card relative d-row gap-m" event-cate="q1_2025">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="4"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 Jan 2025">15 Jan 2025</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card relative d-row gap-m" event-cate="q1_2025">
        <div class="event_content_cards_mark"></div>
        <div class="rounded d-column-h-center">
          <div class="rounded-dot"></div>
          <div class="rounded-line">
            <div></div>
          </div>
        </div>

        <div binding-btnhref="" class="card-item">
          <div class="top relative">
            <div class="tag absolute" state="4"></div>
            <img
              class="absolute"
              binding-imgpath="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=800&auto=format&fit=crop"
              alt=""
            />
            <p class="tag" binding-name="Networking">Networking</p>
            <h4>Tech Innovation Gala</h4>
          </div>

          <div class="bottom">
            <div class="time">
              <div>
                <span class="material-symbols-outlined"> calendar_today </span>
                <p binding-name="15 Jan 2025">15 Jan 2025</p>
              </div>
              <div>
                <span class="material-symbols-outlined"> schedule </span>
                <p binding-name="18:00 - 21:30">18:00 - 21:30</p>
              </div>
            </div>

            <hr />

            <p
              binding-subdescription="Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu tư."
            >
              Sự kiện networking lớn nhất năm quy tụ 500+ founder và 50 quỹ đầu
              tư.
            </p>
            <div>
              <span class="material-symbols-outlined"> location_on </span>
              <p binding-subdescription="Gem Center, HCMC">Gem Center, HCMC</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button
      binding-btnhref=""
      binding-btntext="Xem lịch trình đầy đủ"
      class="d-row-v-center gap-xxs CTA-button"
    >
      Xem lịch trình đầy đủ
      <span class="material-symbols-outlined"> arrow_right_alt </span>
    </button>
  </div>
</section>
