<div>
  <style>
    section#CourseDetailDescription.maxWidth1300 {
      overflow: visible !important;
    }

    #CourseDetailDescription #CourseDetailDescription_content_basic_info {
      flex: 1;
      width: 100%;
    }

    #CourseDetailDescription #CourseDetailDescription_content_purchase_box {
      padding: var(--spacing-s);
      position: sticky;
      top: var(--spacing-xxxl);
      align-self: flex-start;
      background-color: var(--color-white);
      border-radius: var(--radius-m);
      border: 1px solid var(--color-primary);
    }

    #CourseDetailDescription .description {
      flex: 1;
    }

    #CourseDetailDescription
      #CourseDetailDescription_content_purchase_box
      .CourseDetailDescription_img_holder {
      max-width: 400px;
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: var(--radius-m);
      overflow: hidden;
    }

    #CourseDetailDescription #CourseDetailDescription_content_purchase_box a {
      text-align: center;
    }

    #CourseDetailDescription .author_img_holder {
      width: var(--spacing-xxxl);
      height: auto;
      aspect-ratio: 1;
      border-radius: 100%;
      overflow: hidden;
    }

    #CourseDetailDescription .author_img_holder img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #CourseDetailDescription .author_box {
      color: var(--color-gray-800);
      font-weight: var(--font-weight-bold);
      padding: var(--spacing-s);
      border-radius: var(--radius-m);
      border: 1px solid var(--color-primary);
    }

    #CourseDetailDescription .schedule_item_box {
      color: var(--color-gray-800);
      border-radius: var(--radius-m);
      border: 1px solid var(--color-gray-400);
      padding: var(--radius-m) var(--spacing-xs);
      align-items: center;
      justify-content: space-between;
    }

    #CourseDetailDescription .schedule_item_box span ~ p {
      min-width: var(--spacing-m);
      text-align: right;
    }

    #CourseDetailDescription .schedule_item_box:has(> p:empty) {
      display: none;
    }

    /* Hide AfterLogin form before login */
    #CourseDetailDescription
      form.customForm.after-login-show
      span.user-logged-text:empty
      + button.form-submit-btn {
      display: none;
    }

    /* #EventSignUp {
      width: 50vw;
      height: fit-content;
      padding: var(--spacing-l);
      border-radius: var(--radius-m);
      background-color: var(--color-white);
    } */

    #EventSignUp .noti-popup-icon {
      width: var(--spacing-xl);
      height: var(--spacing-xl);
      aspect-ratio: 1;
      border-radius: 100%;
      background-color: rgb(var(--color-secondary-raw) / 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      color: var(--color-primary);
    }

    #EventSignUp .share-box {
      border: 1px solid var(--color-gray-400);
      background-color: var(--color-white);
      padding: var(--spacing-s);
      border-radius: var(--radius-s);
      filter: drop-shadow(var(--shadow-s));
      width: fit-content;
      margin: auto;
    }

    .share-icon {
      width: 1.25rem;
      height: 1.25rem;
      filter: saturate(0);
    }
  </style>

  <section
    id="CourseDetailDescription"
    repeat="detaildata"
    class="maxWidth1300"
  >
    <div id="CourseDetailDescription_content" class="d-column gap-m">
      <h1 class="p-ref-h2">{{name}}</h1>

      <div class="CourseDetailDescription_img_holder mobileShow">
        <img
          src="{{images|getthumbnailbyindex:0|getPath:?mode"
          ="crop&amp;width"
          ="370&amp;height"
          ="260}}"
          alt=""
        />
      </div>

      <!-- basic info -->
      <div class="d-row gap-m">
        <div
          class="d-column gap-xl"
          id="CourseDetailDescription_content_basic_info"
        >
          <div class="description">{{description}}</div>
          <!-- time and location -->
          <div class="d-column gap-s">
            <h4>Thông tin sự kiện</h4>
            <div class="d-row-v-center gap-xs">
              <span class="material-symbols-outlined"> calendar_today </span>
              <p>Bắt đầu: {{startDateTime|formatdatetime:HH:mm}}</p>
            </div>

            <div class="d-row-v-center gap-xs">
              <span class="material-symbols-outlined"> calendar_today </span>
              <p>Kết thúc: {{endDateTime|formatdatetime:HH:mm}}</p>
            </div>

            <!-- <div class="d-row-v-center gap-xs">
              <span class="material-symbols-outlined"> link_2 </span>
              <a href="{{externalLink}}" target="_blank"
                >Link: {{externalLink}}</a
              >
            </div> -->

            <div class="d-row-v-center gap-xs">
              <span class="material-symbols-outlined"> location_on </span>
              <span repeat="address|param:id:parent.addressIds|includes:"
                ><p>{{detailAddress}}</p></span
              >
            </div>
          </div>

          <!-- Author -->
          <div class="d-column gap-s">
            <h4>Thông tin diễn giả</h4>

            <!-- <div class="d-row-v-center gap-s author_box">
              <div class="author_img_holder" repeat="authors">
                <img
                  src="{{images|getthumbnailbyindex:0|getPath:?mode=crop&amp}}"
                  alt
                />
              </div>
              <div class="d-column gap-xxxs">
                <p class="p-ref-h4">{{authors.name}}</p>
                <p class="p-subbody">{{authors.description}}</p>
              </div>
            </div> -->

            <div class="d-column gap-s author_box">
              <div
                class="d-row-v-center gap-s"
                repeat="user|param:esId:parent.esUserIds|param:allType:64|sort:mobile:asc|includes:"
              >
                <div class="author_img_holder">
                  <img
                    src="{{images|getthumbnailbyindex:0|getPath:?mode=crop&amp}}"
                    alt
                  />
                </div>
                <div class="d-column gap-xxxs">
                  <p class="p-ref-h4">{{name}}</p>
                  <p class="p-subbody">{{description}}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Schedule -->
          <!-- <div class="d-column gap-s">
            <h4>Lịch trình sự kiện</h4>
            <hr />
            <div class="d-row gap-xs schedule_item_box" repeat="eventSchedules">
              <p style="width: 100%">{{name}}</p>

              <div class="d-row-v-center gap-xxs" style="width: 100%">
                <span class="material-symbols-outlined">
                  line_start_circle
                </span>
                <p>{{startDateTime|formatdatetime:HH:mm}}</p>
              </div>
              <div class="d-row-v-center gap-xxs" style="width: 100%">
                <span class="material-symbols-outlined"> line_end_circle </span>
                <p>{{endDateTime|formatdatetime:HH:mm}}</p>
              </div>
            </div>
          </div> -->
        </div>

        <div
          id="CourseDetailDescription_content_purchase_box"
          class="d-column gap-m padding-m"
        >
          <div class="CourseDetailDescription_img_holder mobileHide">
            <img
              src="{{images|getthumbnailbyindex:0|getPath:?mode"
              ="crop&amp;width"
              ="370&amp;height"
              ="260}}"
              alt=""
            />
          </div>

          <!-- <div repeat="product|param:id:parent.productIds|includes:">
            <div class="d-column">
              <p class="p-subbody">Phí tham gia</p>
              <p class="p-ref-h4">{{price|formatmoney}}</p>
            </div>

            <a
              href="javascript:void(0);"
              binding-btntext="Đăng ký ngay"
              data-id="{{id}}"
              class="button-primary button-large btn-buynow course-grid-cart-btn buyNow createOrder userLogin"
            >
              Đăng ký ngay
            </a>
            <a
              onclick="
                signinModal.close();
                authModal.showModal();
              "
              binding-btntext="Đăng ký ngay"
              class="button-primary button-large btn-buynow course-grid-cart-btn buyNow userNotLogin"
            >
              Đăng ký ngay
            </a>
          </div> -->

          <div>
            <dialog class="noti-popup modal-dialog" id="EventSignUp">
              <div class="modal-content d-column-v-center gap-s">
                <div class="noti-popup-icon">
                  <span class="material-symbols-outlined"> check </span>
                </div>

                <h4
                  style="width: inherit; white-space: wrap"
                  class="errorMessage check"
                ></h4>
                <h4
                  style="width: inherit; white-space: wrap"
                  class="returnMessage mt-3 d-none check"
                ></h4>
                <h4 style="width: inherit; white-space: wrap" class="">
                  <span
                    binding-name="Chúc mừng bạn đã đăng ký thành công sự kiện"
                    >Chúc mừng bạn đã đăng ký thành công sự kiện
                  </span>
                  <b style="color: var(--color-primary)">{{name}}</b>
                </h4>

                <hr />
                <div class="d-row-h-center gap-s share-box">
                  <p binding-name="Chia sẻ sự kiện này">Chia sẻ sự kiện này</p>
                  <a
                    target="_blank"
                    href="https://www.facebook.com/sharer/sharer.php?u=https://fivietnam.labo.io/vi-VN/bai-viet/{{friendlyUrl}}"
                  >
                    <img
                      src="https://static.izzi.asia/images/2026/3/11/2603113493_2021Facebookicon.svg.png"
                      alt="Facebook"
                      class="share-icon"
                    />
                  </a>
                  <a
                    target="_blank"
                    href="https://www.linkedin.com/sharing/share-offsite/?url=https://fivietnam.labo.io/vi-VN/bai-viet/{{friendlyUrl}}"
                  >
                    <img
                      src="https://static.izzi.asia/images/2026/3/11/2603118488_LinkedInicon.svg.png"
                      alt="Facebook"
                      class="share-icon"
                    />
                  </a>
                  <a
                    target="_blank"
                    href="https://twitter.com/intent/tweet?text=https://fivietnam.labo.io/vi-VN/bai-viet/{{friendlyUrl}}"
                  >
                    <img
                      src="https://static.izzi.asia/images/2026/3/11/2603113787_Xicon.svg.png"
                      alt="Twitter"
                      class="share-icon"
                    />
                  </a>
                </div>
              </div>
            </dialog>
            <form
              action="javascript:void(0)"
              id="65218bb1-57eb-dc54-4d0d-00cf5ac21e86"
              class="customForm after-login-show"
              method="post"
              data-check-email="false"
              data-check-mobile="false"
              novalidate="novalidate"
            >
              <!-- displayName -->
              <div id="AfterLogin" class="AfterLogin">
                <div class="d-none">
                  <span class="d-none user-logged-text displayName"></span>
                  <span class="d-none user-logged-text displayMobile"></span>
                  <span class="d-none user-logged-text displayEmail"></span>
                  <input
                    type="tel"
                    id="mobile"
                    name="mobile"
                    class="displayMobile"
                    required
                  />
                  <input
                    type="text"
                    id="fullName"
                    name="fullName"
                    class="displayName"
                    required
                  />
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="displayEmail"
                    required
                  />
                  <input
                    type="text"
                    id="eventName"
                    name="eventName"
                    value="{{name}}"
                    required
                  />
                  <input
                    type="text"
                    id="eventId"
                    name="eventId"
                    value="{{id}}"
                    required
                  />
                  <input
                    type="text"
                    id="eventStartTime"
                    name="eventStartTime"
                    value="{{startDateTime|formatdatetime:HH:mm}}"
                  />
                  <input
                    type="text"
                    id="eventEndTime"
                    name="eventEndTime"
                    value="{{endDateTime|formatdatetime:HH:mm}}"
                  />
                  <span repeat="address|param:id:parent.addressIds|includes:">
                    <input
                      type="text"
                      id="eventLocation"
                      name="eventLocation"
                      value="{{detailAddress}}"
                    />
                  </span>
                  <input
                    type="text"
                    id="eventExternalLink"
                    name="eventExternalLink"
                    value="{{externalLink}}"
                  />

                  <input
                    type="text"
                    id="eventInternalLink"
                    name="eventInternalLink"
                    value="fivietnam.vn/{{languageCode}}/su-kien/{{friendlyUrl}}"
                  />
                </div>
                <span class="d-none user-logged-text displayName"></span>
                <button
                  type="submit"
                  binding-btntext="Đăng ký ngay"
                  id="button-service-submit"
                  access="false"
                  class="button-primary button-large form-submit-btn"
                >
                  Đăng ký ngay
                </button>
              </div>
            </form>

            <!-- not logged in -->
            <a
              onclick="
                signinModal.close();
                authModal.showModal();
              "
              binding-btntext="Đăng ký ngay"
              class="button-primary button-large userNotLogin"
            >
              Đăng ký ngay
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
