<section id="FAQ">
  <input type="radio" name="FAQ" id="slide1" hidden checked />
  <input type="radio" name="FAQ" id="slide2" hidden />
  <input type="radio" name="FAQ" id="slide3" hidden />
  <input type="radio" name="FAQ" id="slide4" hidden />

  <div id="FAQ_content">
    <div class="d-column-h-center">
      <p class="tag" binding-name="Giải đáp thắc mắc">Giải đáp thắc mắc</p>
      <h2 binding-name="Câu hỏi thường gặp">Câu hỏi thường gặp</h2>
    </div>

    <div id="FAQ_content_cards">
      <div class="card"></div>
    </div>
  </div>
</section>
