<footer class="relative">
  <div class="bg absolute">
    <div class="graCoat absolute"></div>
    <img
      binding-imgpath="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop"
      src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop"
      alt=""
    />
  </div>
  <div class="maxWidth1300">
    <div class="top">
      <div class="d-column">
        <h3>F.I.VN</h3>
        <p
          binding-subdescription="F.I.VN là đối tác địa phương của Founder Institute - Mạng lưới tăng tốc khởi nghiệp lớn nhất thế giới, giúp các founder xây dựng doanh nghiệp công nghệ bền vững."
        >
          F.I.VN là đối tác địa phương của Founder Institute - Mạng lưới tăng
          tốc khởi nghiệp lớn nhất thế giới, giúp các founder xây dựng doanh
          nghiệp công nghệ bền vững.
        </p>
      </div>

      <div class="d-column">
        <p>Về F.I.VN</p>
        <p>Câu chuyện thương hiệu</p>
        <p>Đội ngũ điều hành</p>
        <p>Mạng lưới Mentor</p>
        <p>Đối tác chiến lược</p>
        <p>Cơ hội nghề nghiệp</p>
      </div>

      <div class="d-column">
        <p>Chương trình</p>
        <p>Founder Core Program</p>
        <p>Funding Lab</p>
        <p>Venture Network</p>
        <p>Sự kiện & Workshop</p>
        <p>FAQs</p>
      </div>

      <div class="d-column">
        <p>Liên hệ</p>
        <p>Tầng 3, Toà nhà Innovation, Quận 1, TP. Hồ Chí Minh</p>
        <p>(+84) 909 123 456</p>
        <p>vietnam@fi.co</p>
        <p>www.fi.co/vietnam</p>
      </div>
    </div>
    <hr />
    <div class="bottom d-row-v-center">
      <p>© 2024 Founder Institute Vietnam. All rights reserved.</p>
        
    </div>
  </div>
</footer>
