<footer class="relative">
  <div class="bg absolute">
    <div class="graCoat absolute"></div>
    <img
      binding-imgpath="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop"
      src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop"
      alt=""
    />
  </div>
  <div class="maxWidth1300 d-column">
    <div class="top d-row mobileFlexColumn">
      <div class="d-column">
        <h3>F.I.VN</h3>
        <p
          binding-subdescription="F.I.VN là đối tác địa phương của Founder Institute - Mạng lưới tăng tốc khởi nghiệp lớn nhất thế giới, giúp các founder xây dựng doanh nghiệp công nghệ bền vững."
        >
          F.I.VN là đối tác địa phương của Founder Institute - Mạng lưới tăng
          tốc khởi nghiệp lớn nhất thế giới, giúp các founder xây dựng doanh
          nghiệp công nghệ bền vững.
        </p>
      </div>

      <div class="d-column">
        <p binding-name="Về F.I.VN">Về F.I.VN</p>
        <p binding-name="Câu chuyện thương hiệu">Câu chuyện thương hiệu</p>
        <p binding-name="Đội ngũ điều hành">Đội ngũ điều hành</p>
        <p binding-name="Mạng lưới Mentor">Mạng lưới Mentor</p>
        <p binding-name="Đối tác chiến lược">Đối tác chiến lược</p>
        <p binding-name="Cơ hội nghề nghiệp">Cơ hội nghề nghiệp</p>
      </div>

      <div class="d-column">
        <p binding-name="Chương trình">Chương trình</p>
        <p binding-name="Founder Core Program">Founder Core Program</p>
        <p binding-name="Funding Lab">Funding Lab</p>
        <p binding-name="Venture Network">Venture Network</p>
        <p binding-name="Sự kiện & Workshop">Sự kiện & Workshop</p>
        <p binding-name="FAQs">FAQs</p>
      </div>

      <div class="d-column">
        <p binding-name="Liên hệ">Liên hệ</p>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> location_on </span>
          <p binding-name="Tầng 3, Toà nhà Innovation, Quận 1, TP. Hồ Chí Minh">
            Tầng 3, Toà nhà Innovation, Quận 1, TP. Hồ Chí Minh
          </p>
        </div>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> phone </span>
          <p binding-name="(+84) 909 123 456">(+84) 909 123 456</p>
        </div>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> mail </span>
          <p binding-name="vietnam@fi.co">vietnam@fi.co</p>
        </div>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> language </span>
          <p binding-name="www.fi.co/vietnam">www.fi.co/vietnam</p>
        </div>
      </div>
    </div>
    <hr />
    <div class="bottom d-row-v-center">
      <p binding-name="© 2024 Founder Institute Vietnam. All rights reserved.">
        © 2024 Founder Institute Vietnam. All rights reserved.
      </p>
      <div class="d-row mobileFlexColumn gap-s">
        <p binding-name="Chính sách bảo mật">Chính sách bảo mật</p>
        <p binding-name="Điều khoản sử dụng">Điều khoản sử dụng</p>
        <p binding-name="Cookie Policy">Cookie Policy</p>
      </div>
    </div>
  </div>
</footer>
