<div class="relative">
  <style>
    footer .bg {
      z-index: -3;
      background-color: var(--color-black);
      width: 100%;
      height: 100%;
    }

    footer .bg .graCoat {
      z-index: 1;
      background-image: linear-gradient(
        to right,
        var(--color-black) 10%,
        rgba(0, 0, 0, 0.9) 80%,
        rgba(1, 31, 0, 0.5) 100%
      );
      width: 100%;
      height: 100%;
    }

    footer .bg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* ================= Footer content ================= */

    footer .maxWidth1300 {
      padding: var(--spacing-xxxl) var(--spacing-l);
      gap: var(--spacing-m);
      color: var(--color-white);
    }

    footer img {
      height: var(--spacing-xxxl);
      width: fit-content;
      object-fit: contain;
      float: left;
    }

    footer p,
    footer a {
      font-size: var(--t-mini-size);
      color: var(--color-gray-200);
      text-align: justify;
    }

    footer a {
      text-decoration: none;
    }

    footer a:hover {
      color: var(--color-primary);
    }

    /* ---------- Top ---------- */

    footer .top {
      gap: var(--spacing-m);
      display: grid;
      grid-template-columns: repeat(3, 1fr) 1.75fr;
    }

    footer .top div {
      flex: 1;
      gap: var(--spacing-m);
    }

    footer .top div > p:first-child {
      font-weight: var(--weight-bold);
      font-size: var(--t-body-size);
    }

    footer .top div span {
      color: var(--color-primary);
      font-size: var(--spacing-m) !important;
    }

    footer .top div > div {
      gap: var(--spacing-xs);
    }

    footer .top > div:first-child h3:first-child {
      color: var(--color-primary);
    }

    footer .top form {
      flex-wrap: wrap;
    }
    footer .top form input {
      padding: var(--spacing-xs);
      border-radius: var(--radius-m);
      border: 1px solid var(--color-gray-400);
      background-color: var(--color-white);
      color: var(--color-gray-800);
      flex: 1;
    }

    /* ---------- Bottom ---------- */

    footer .bottom {
      justify-content: space-between;
      width: 100%;
    }
  </style>

  <div class="bg absolute">
    <div class="graCoat absolute"></div>
    <img
      binding-imgpath="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab"
      src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab"
      alt=""
    />
  </div>
  <div class="maxWidth1300 d-column">
    <div class="d-row-v-center mobileFlexColumn" style="color: currentColor">
      <img
        binding-imgpath="https://static.izzi.asia/images/2026/3/13/2603130611_FIVlogowhite.png"
        src="https://static.izzi.asia/images/2026/3/13/2603130611_FIVlogowhite.png"
        alt=""
      />
      <span
        class="p-subbody"
        style="color: currentColor"
        binding-subdescription="        Founder Institute Vietnam là đối tác địa phương của Founder Institute - Mạng lưới tăng tốc        khởi nghiệp lớn nhất thế giới, giúp các founder xây dựng doanh nghiệp        công nghệ bền vững.      "
      >
        Founder Institute Vietnam là đối tác địa phương của Founder Institute -
        Mạng lưới tăng tốc khởi nghiệp lớn nhất thế giới, giúp các founder xây
        dựng doanh nghiệp công nghệ bền vững.
      </span>
    </div>
    <div class="top mobileFlexColumn">
      <div class="d-column">
        <p binding-name="Liên hệ">Liên hệ</p>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> location_on </span>
          <p binding-name="Tầng 3, Grandeur Palace, 138B Giảng Võ, Hà Nội">
            Tầng 3, Grandeur Palace, 138B Giảng Võ, Hà Nội
          </p>
        </div>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> phone </span>
          <p binding-name="(+84) 934 613 969">(+84) 934 613 969</p>
        </div>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> mail </span>
          <p binding-name="office@fivietnam.vn">office@fivietnam.vn</p>
        </div>
        <div class="d-row-v-center">
          <span class="material-symbols-outlined"> language </span>
          <p binding-name="fivietnam.labo.io">fivietnam.labo.io</p>
        </div>
      </div>

      <div class="d-column">
        <p binding-name="Về FI Vietnam">Về FI Vietnam</p>
        <a
          href="pages/ve-chung-toi"
          binding-btnhref=""
          binding-btntext="Câu chuyện thương hiệu"
          >Câu chuyện thương hiệu</a
        >
        <a href="" binding-btnhref="" binding-btntext="Đội ngũ điều hành"
          >Đội ngũ điều hành</a
        >
        <a
          href="pages/mang-luoi"
          binding-btnhref=""
          binding-btntext="Mạng lưới Mentor"
          >Mạng lưới Mentor</a
        >
        <a
          href="pages/doi-tac"
          binding-btnhref=""
          binding-btntext="Đối tác chiến lược"
          >Đối tác chiến lược</a
        >
        <a href="" binding-btnhref="" binding-btntext="Cơ hội nghề nghiệp"
          >Cơ hội nghề nghiệp</a
        >
      </div>

      <div class="d-column">
        <p binding-name="Chương trình">Chương trình</p>
        <a href="" binding-btnhref="" binding-btntext="Founder Core Program"
          >Founder Core Program</a
        >
        <a href="" binding-btnhref="" binding-btntext="Funding Lab"
          >Funding Lab</a
        >
        <a href="" binding-btnhref="" binding-btntext="Venture Network"
          >Venture Network</a
        >
        <a
          href="pages/su-kien"
          binding-btnhref="/#Event"
          binding-btntext="Sự kiện &amp; Workshop"
          >Sự kiện &amp; Workshop</a
        >
        <a href="/#FAQ" binding-btnhref="/#FAQ" binding-btntext="FAQs">FAQs</a>
      </div>

      <div class="d-column">
        <p binding-name="Theo dõi tin tức về Founder Institute Vietnam">
          Theo dõi tin tức về Founder Institute Vietnam
        </p>

        <form action="" class="d-row-v-center gap-xxxs">
          <input
            type="email"
            placeholder="Nhập email của bạn"
            binding-name=""
          />
          <button
            type="submit"
            class="button-primary-2 button-small"
            binding-name="            Đăng ký          "
          >
            Đăng ký
          </button>
        </form>

        <!-- <div class="d-row gap-s">
            <a href="" binding-btnhref="" binding-btntext="">
              <img binding-imgpath="" src="" alt="" />
            </a>
            <a href="" binding-btnhref="" binding-btntext="">
              <img binding-imgpath="" src="" alt="" />
            </a>
            <a href="" binding-btnhref="" binding-btntext="">
              <img binding-imgpath="" src="" alt="" />
            </a>
            <a href="" binding-btnhref="" binding-btntext="">
              <img binding-imgpath="" src="" alt="" />
            </a>
            <a href="" binding-btnhref="" binding-btntext="">
              <img binding-imgpath="" src="" alt="" />
            </a>
          </div> -->
      </div>
    </div>
    <hr />
  </div>
  <div
    style="
      padding: var(--spacing-xxs) var(--spacing-l);
      margin: 0;
      background-color: black;
    "
    class="bottom d-row-v-center mobileFlexColumn gap-s"
  >
    <p
      binding-name="      © 2026 Founder Institute Vietnam. All rights reserved.    "
    >
      © 2026 Founder Institute Vietnam. All rights reserved.
    </p>
    <div class="d-row gap-s">
      <p binding-name="Chính sách bảo mật">Chính sách bảo mật</p>
      <p binding-name="Điều khoản sử dụng">Điều khoản sử dụng</p>
      <p binding-name="Cookie Policy">Cookie Policy</p>
    </div>
  </div>
</div>
