<header scrolled="false">
    <nav class="maxWidth1300">
        <div id="logo">
            <a href="/"><img src="assets\svg\Logo FIVN-01.svg" alt=""></a>
        </div>

        <input type="checkbox" id="menu-toggle" hidden>
        <label for="menu-toggle" id="hamburger-menu-icon" class="mobileShow">
            <div class="hamburger-open">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </div>
            <div class="hamburger-close">
                <span class="material-symbols-outlined">
                    close
                </span>
            </div>
        </label>

        <div id="hamburger-menu" class="mobileHide">
            <a binding-name="Về chúng tôi" href="#AboutUs">Về chúng tôi
                <span></span>
            </a>
            <a binding-name="Chương trình" href="#Program">Chương trình
                <span></span>
            </a>
            <a binding-name="Sự kiện" href="#Event">Sự kiện
                <span></span>
            </a>
            <a binding-name="Mạng lưới" href="#Network">Mạng lưới
                <span></span>
            </a>
            <a binding-name="Khóa học" href="#Course">Khóa học
                <span></span>
            </a>
            <a binding-name="Đối tác" href="#Partner">Đối tác
                <span></span>
            </a>
            <a binding-name="Liên hệ" href="#Contact">Liên hệ
                <span></span>
            </a>
            <!-- <button class="btn-group-primary" binding-btntext="Đăng ký ngay">
                Đăng ký ngay
                <span class="material-symbols-outlined">
                    arrow_forward
                </span>
            </button> -->
        </div>
    </nav>
</header>