<div>
  <style>
    #Network {
      background-color: var(--color-bg-light);
    }

    /* ================= Network Content ================= */

    #Network #Network_content_cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, 240px);
      justify-content: center;
      width: 100%;
      gap: var(--spacing-l);
      overflow: hidden;

      padding-bottom: var(--spacing-xs);
    }

    /* ================= Card ================= */

    #Network #Network_content_cards .card {
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
      padding: var(--spacing-m);
      border-radius: var(--radius-l);
      filter: drop-shadow(var(--shadow-xs));
      gap: var(--spacing-m);
    }

    /* ---------- Card Top ---------- */

    #Network #Network_content_cards .card {
      width: 100%;
    }

    #Network #Network_content_cards .card > img {
      width: 100px;
      height: 100px;
      border-radius: var(--radius-round);
      /* filter: saturate(1); */
    }

    #Network #Network_content_cards .card .tag {
      letter-spacing: normal;
      font-weight: var(--weight-bold);
      color: var(--color-primary);
    }

    #Network #Network_content_cards .card span {
      /* font-size: var(--t-mini-size) !important; */
      /* line-height: var(--lineheight-xxs); */
      color: var(--color-gray-400);
    }

    #Network #Network_content_cards .card div {
      flex: 1;
    }

    #Network .card div div:last-child p {
      color: var(--color-gray-400);
      font-weight: var(--weight-semibold);
    }

    #Network .card div div:last-child span {
      color: var(--color-primary);
    }

    #Network #Network_content_cards .card .lineclamp-3 {
      text-align: center;
      font-family: var(--font-body);
      font-size: var(--t-body-size);
      font-weight: var(--t-body-weight);
      line-height: var(--t-body-lh);
      color: var(--color-gray-600);
    }

    #Network #Network_content_cards .card p::before,
    #Network #Network_content_cards .card p::after {
      content: '"';
      padding: 0;
      margin: 0;
    }

    #Network #Network_content_cards .card p:empty {
      display: none;
    }

    #Network #Network_content_cards .card .linkedinButton {
      top: var(--spacing-s);
      right: var(--spacing-s);
    }

    #Network #Network_content_cards .card .linkedinButton img {
      width: 20px;
      height: 20px;
      filter: saturate(0);
      opacity: 0.2;
      transition: var(--transition-fast);
    }

    #Network #Network_content_cards .card .linkedinButton img:hover {
      filter: saturate(1);
      opacity: 1;
    }

    #Network #Network_content_cards .card:hover > img {
      opacity: 1;
      filter: saturate(1);
      transform: scale(1.2);
    }
  </style>

  <section id="Network" class="relative">
    <input type="checkbox" id="Network_content_toggle_list" hidden="" />

    <div id="Network_content" class="d-column-h-center gap-m">
      <div class="d-column-h-center gap-xs">
        <h2 class="" binding-name="Our Mentors">Our Mentors</h2>
        <p
          binding-name="Mạng lưới cố vấn khởi nghiệp cho Việt Nam và toàn cầu."
        >
          Mạng lưới cố vấn khởi nghiệp cho Việt Nam và toàn cầu.
        </p>
      </div>

      <div id="Network_content_cards">
        <div
          repeat="selectionusers|param:categoryIds:79ed2162-6fd9-3e8c-5348-413ac7bd87ec|sort:createdDate:asc|size:12|includes:id"
        >
          <div
            class="card d-column-h-center gap-xxs relative"
            repeat="user|param:id:parent.id|size:1|includes:"
          >
            <img src="https://static.izzi.asia{{images.path}}" alt="{{name}}" />
            <p class="lineclamp-keep-height-2">{{name}}</p>
            <div class="lineclamp-keep-height-3">{{description}}</div>
            <a
              href="{{subDescription}}"
              target="_blank"
              class="linkedinButton absolute"
            >
              <img
                src="https://static.izzi.asia/templates/FIVN/svg/linkedin.svg"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>

      <a href="pages/mang-luoi" class="button-secondary button-medium"
        >Xem toàn bộ danh sách</a
      >
    </div>
  </section>
</div>
