<div>
  <style>
    /* ================= PROGRAMME ================= */

    #Programme #Programme_content {
      display: grid;
      grid-template-columns: 1fr 50%;
      gap: var(--spacing-xl);
    }

    /* ---------- LEFT ---------- */

    #Programme #Programme_content .left {
      padding-top: var(--spacing-l);
    }

    /* tag */

    #Programme #Programme_content .left .tag {
      font-family: var(--font-mono);
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
      color: var(--color-secondary);
      text-transform: uppercase;
      font-weight: var(--weight-bold);

      backdrop-filter: blur(2px);
      background-color: rgba(255, 255, 255, 0.1);
      backface-visibility: hidden;

      width: fit-content;
      padding: var(--spacing-xxxs) var(--spacing-xs);

      border-radius: var(--radius-round);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    #Programme #Programme_content .left h2 p:first-child {
      color: var(--color-white);
    }

    /* gradient text */

    #Programme #Programme_content .left .gradient-text-mainColor {
      background: linear-gradient(
        90deg,
        var(--color-secondary) 0%,
        var(--color-secondary) 30%,
        var(--color-white) 60%,
        var(--color-white) 80%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    /* icon text */

    #Programme #Programme_content .left .icon-text {
      transition: var(--transition-fast);
    }

    #Programme #Programme_content .left .icon-text .icon {
      width: 40px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 100%;
      background-color: rgb(255 255 255 / 0.05);
      color: var(--color-secondary);
    }

    #Programme #Programme_content .left .icon-text p {
      color: var(--color-white);
    }

    /* #Programme #Programme_content .left .icon-text:hover .icon {
      background-color: var(--color-secondary);
      color: var(--color-white);
    } */

    /* ---------- RIGHT ---------- */

    #Programme #Programme_content .right .card .rounded {
      height: inherit;
      position: relative;
    }

    /* rounded dot */

    #Programme #Programme_content .right .card .rounded .rounded-dot {
      position: absolute;
      /* top: var(--spacing-m); */
      top: calc(((var(--spacing-l)) * 2 + var(--spacing-xxl)) / 2 + 1px);
      transform: translateY(-50%);

      aspect-ratio: 1;
      width: var(--spacing-m);
      height: var(--spacing-m);

      background-color: rgba(0, 0, 0, 0.2);
      border-radius: var(--radius-round);
      border: 2px solid rgba(255, 255, 255, 0.2);

      outline: 0 solid var(--color-secondary);
      outline-offset: calc(-1 * var(--spacing-m) / 2);
    }

    /* rounded line */

    #Programme #Programme_content .right .card .rounded .rounded-line {
      width: 2px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
    }

    #Programme #Programme_content .right .card .rounded .rounded-line > div {
      width: 2px;
      height: 0%;
      background: linear-gradient(
        to top,
        transparent 0%,
        var(--color-secondary) 80%,
        transparent 100%
      );
    }

    /* ---------- CARD ITEM ---------- */

    #Programme #Programme_content .right .card .card-item {
      flex: 1;
      border-radius: var(--radius-l);
      border: 1px solid rgba(255, 255, 255, 0.2);
      overflow: hidden;
      margin-bottom: var(--spacing-l);
    }

    /* gradient coat */

    #Programme #Programme_content .right .card .card-item .graCoat {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: linear-gradient(
        to right,
        hsl(217, 33%, 10%) 10%,
        hsla(215, 33%, 10%, 0.95) 40%,
        hsla(216, 33%, 10%, 0.7) 100%
      );
    }

    /* image */

    #Programme #Programme_content .right .card .card-item img {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -2;
      filter: saturate(0);
      opacity: 0;
    }

    /* tag inside card */

    #Programme #Programme_content .right .card .card-item .tag {
      color: var(--color-secondary);
      text-transform: none;
    }

    /* ---------- CARD LABEL ---------- */

    #Programme #Programme_content .right .card .card-item .card-item-label {
      padding: var(--spacing-l);
    }

    #Programme #Programme_content .right .card .card-item .card-item-label h4 {
      color: var(--color-white);
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-label
      .icon {
      aspect-ratio: 1;
      width: var(--spacing-xxl);
      height: var(--spacing-xxl);

      background-color: rgba(0, 0, 0, 0.2);
      color: var(--color-secondary);

      border-radius: var(--radius-m);
      border: 1px solid rgba(255, 255, 255, 0.2);

      filter: drop-shadow(--shadow-m);
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-label
      .d-column {
      flex: 1;
    }

    #Programme #Programme_content .right .card .card-item .card-item-label > p {
      color: var(--color-white);
      opacity: 0.2;
      font-weight: var(--weight-bold);
      line-height: 1;
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-label
      div
      .card-subdescription {
      padding-left: var(--spacing-xs);
      color: var(--color-gray-400);
      position: relative;
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-label
      div
      .card-subdescription::before {
      content: "|";
      padding-right: var(--spacing-xs);
      left: 0;
      top: 2px;
      position: absolute;
      align-items: center;
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-label
      div
      .card-subdescription
      big {
      font-size: var(--t-body-size);
      font-weight: var(--t-body-weight);
      line-height: var(--t-body-lh);
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-label
      div
      .card-subdescription
      i {
      font-size: var(--t-subbody-size);
      font-weight: var(--t-subbody-weight);
      line-height: var(--t-subbody-lh);
    }

    /* ---------- CARD CATE ---------- */

    #Programme #Programme_content .right .card .card-item .card-item-cate {
      padding: 0 var(--spacing-l);
      align-items: end;
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-cate
      > div {
      width: 100%;
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-cate
      .card-item-cate-item {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxxs);
      padding: var(--spacing-xs);

      background-color: rgba(0, 0, 0, 0.4);
      border-radius: var(--radius-m);
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-cate
      .card-item-cate-item
      .material-symbols-outlined {
      color: var(--color-secondary);
      font-size: var(--t-subbody-size) !important;
      font-variation-settings:
        "FILL" 0,
        "wght" 300,
        "GRAD" 0,
        "opsz" 24;
      font-weight: thin !important;
    }

    /* link arrow */

    #Programme #Programme_content .right .card .card-item .card-item-cate a {
      text-decoration: none;
      color: var(--color-secondary);
    }

    #Programme
      #Programme_content
      .right
      .card
      .card-item
      .card-item-cate
      a::after {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-left: 6px;
      margin-bottom: 1px;

      border-top: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(45deg);
    }

    /* ---------- COLLAPSED ---------- */

    #Programme #Programme_content .right .card .card-item hr,
    #Programme #Programme_content .right .card .card-item .card-item-cate {
      max-height: 0;
      visibility: hidden;
      transform: var(--transition-slow);
    }

    /* ---------- HOVER CARD ---------- */

    #Programme #Programme_content .right .card:hover .rounded .rounded-dot {
      outline: calc(var(--spacing-m) / 2) solid var(--color-secondary);
      outline-offset: calc(-1 * var(--spacing-m) / 2);
    }

    #Programme
      #Programme_content
      .right
      .card:hover
      .rounded
      .rounded-line
      div {
      height: 100%;
      transition: height 0.7s ease-out;
    }

    #Programme #Programme_content .right .card:hover .card-item {
      border: 1px solid var(--color-secondary);
    }

    #Programme #Programme_content .right .card:hover .card-item .graCoat {
      opacity: 0.8;
    }

    #Programme #Programme_content .right .card:hover .card-item img {
      opacity: 1;
      filter: saturate(1);
    }

    #Programme
      #Programme_content
      .right
      .card:hover
      .card-item
      .card-item-label
      .icon {
      background-color: var(--color-secondary);
      color: var(--color-white);
      border: none;
    }

    #Programme
      #Programme_content
      .right
      .card:hover
      .card-item
      .card-item-label
      h4 {
      color: var(--color-secondary);
    }

    #Programme
      #Programme_content
      .right
      .card:hover
      .card-item
      .card-item-label
      div
      .card-subdescription {
      color: var(--color-white);
    }

    #Programme #Programme_content .right .card:hover .card-item hr {
      visibility: visible;
    }

    #Programme
      #Programme_content
      .right
      .card:hover
      .card-item
      .card-item-cate {
      visibility: visible;
      padding: var(--spacing-l);
      max-height: 1000px;
    }

    /* ---------- BG ---------- */

    #Programme .bg {
      z-index: -2;

      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      background-color: #030712;
    }

    #Programme .bg img {
      opacity: 0.1;
    }

    /* ---------- TEXT ---------- */

    #Programme p {
      color: var(--color-gray-200);
    }
  </style>

  <section id="Programme" class="relative mouse-parallax">
    <div class="bg absolute">
      <img
        src="https://static.izzi.asia/templates/FIVN/svg/grid-pattern.svg"
        alt=""
      />
    </div>
    <div class="spotlight"></div>

    <div id="Programme_content" class="maxWidth1300 mobileFlexColumn">
      <div class="left d-column gap-l">
        <div
          class="tag"
          binding-name="          TĂNG TỐC KHỞI NGHIỆP TOÀN CẦU        "
        >
          TĂNG TỐC KHỞI NGHIỆP TOÀN CẦU
        </div>

        <div>
          <h2>
            <p class="p-ref-h2" binding-name="FI Core">FI Core</p>
            <p
              binding-name="Accelerator Program          "
              class="p-ref-h2 gradient-text-mainColor"
            >
              Accelerator Program
            </p>
          </h2>
        </div>

        <p
          binding-subdescription="Chương trình Tăng tốc Khởi nghiệp Toàn cầu  Founder Institute (FI) Vietnam tuyển sinh Khóa FI Core Mùa Hè 2026 (Vietnam Spring 2026)."
        >
          Chương trình Tăng tốc Khởi nghiệp Toàn cầu Founder Institute (FI)
          Vietnam tuyển sinh Khóa FI Core Mùa Hè 2026 (Vietnam Spring 2026).
        </p>

        <div class="d-column gap-m">
          <div class="icon-text d-row-v-center gap-xs">
            <div class="icon">
              <span class="material-symbols-outlined"> schedule </span>
            </div>
            <p
              class="text-xs"
              binding-name="              Khai giảng: 07.05.2026 - Kết thúc: 13.08.2026"
            >
              Khai giảng: 07.05.2026 - Kết thúc: 13.08.2026
            </p>
          </div>
          <div class="icon-text d-row-v-center gap-xs">
            <div class="icon">
              <span class="material-symbols-outlined"> group </span>
            </div>
            <p
              class="text-xs"
              binding-name="              Hình thức: 100% Online"
            >
              Hình thức: 100% Online
            </p>
          </div>
        </div>

        <a
          class="button-primary-2 button-large"
          binding-name="          Liên hệ ngay        "
          href="/pages/lien-he"
          binding-btnhref="/pages/lien-he"
          style="text-align: center;"
        >
          Liên hệ ngay
        </a>
      </div>

      <!-- >>> CONTENT -->
      <div class="right">
        <!-- CARD 1 -->
        <div class="card relative d-row gap-m">
          <div class="rounded d-column-h-center">
            <div class="rounded-dot"></div>
            <div class="rounded-line">
              <div></div>
            </div>
          </div>
          <div class="card-item relative">
            <div class="graCoat absolute"></div>
            <img
              src="https://images.unsplash.com/photo-1531403009284-440f080d1e12"
              binding-imgpath="https://images.unsplash.com/photo-1531403009284-440f080d1e12"
              class="absolute"
              alt=""
            />

            <div class="card-item-label d-row gap-m mobileFlexColumn">
              <div class="icon d-center">
                <span class="material-symbols-outlined"> target </span>
              </div>
              <div class="d-column gap-xxs">
                <p
                  class="tag"
                  binding-name="Define Your Vision &amp; Business Foundation​               "
                >
                  Define Your Vision &amp; Business Foundation​
                </p>
                <h4
                  binding-name="Nhóm 1 — Khởi Tạo Tầm Nhìn &amp; Nền Tảng Kinh Doanh"
                >
                  Nhóm 1 — Khởi Tạo Tầm Nhìn &amp; Nền Tảng Kinh Doanh
                </h4>
                <p
                  class="card-subdescription"
                  binding-subdescription="&lt;b&gt; Tuần 1 — &lt;big&gt; Vision, Mission &amp; One-Sentence Pitch &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Tầm nhìn, Sứ mệnh &amp; Bài giới thiệu startup 1 câu) &lt;/i&gt;  &lt;br&gt; &lt;b&gt; Tuần 2 — &lt;big&gt; Customer Development &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Phát triển khách hàng) &lt;/i&gt; &lt;br&gt; &lt;b&gt; Tuần 3 — &lt;big&gt; Revenue &amp; Business Models &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Doanh thu &amp; Mô hình kinh doanh)&lt;/i&gt;"
                >
                  <b>
                    Tuần 1 —
                    <big> Vision, Mission &amp; One-Sentence Pitch </big>
                  </b>
                  <br />
                  <i>
                    (Tầm nhìn, Sứ mệnh &amp; Bài giới thiệu startup 1 câu)
                  </i>
                  <br />
                  <b> Tuần 2 — <big> Customer Development </big> </b> <br />
                  <i> (Phát triển khách hàng) </i> <br />
                  <b> Tuần 3 — <big> Revenue &amp; Business Models </big> </b>
                  <br />
                  <i> (Doanh thu &amp; Mô hình kinh doanh)</i>
                </p>
              </div>
              <p>01</p>
            </div>

            <hr />

            <div class="card-item-cate d-column gap-m">
              <div class="d-row mobileFlexColumn gap-s">
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> docs </span>
                    <div class="tag" binding-name="Khối lượng">Khối lượng</div>
                  </div>
                  <p class="p-subbody" binding-name="3 Tuần đào tạo cốt lõi">
                    3 Tuần đào tạo cốt lõi
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> add_diamond </span>
                    <div class="tag" binding-name="Giá trị">Giá trị</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Kiểm chứng giả thuyết kinh doanh &amp; Định vị thị trường"
                  >
                    Kiểm chứng giả thuyết kinh doanh &amp; Định vị thị trường
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> task_alt </span>
                    <div class="tag" binding-name="Kết quả">Kết quả</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Bản thuyết trình 1 câu (One-Sentence Pitch) hoàn chỉnh"
                  >
                    Bản thuyết trình 1 câu (One-Sentence Pitch) hoàn chỉnh
                  </p>
                </div>
              </div>
              <a
                href="#Programme_content"
                class="card-item-cate-detail tag"
                binding-btntext="Chi tiết chương trình"
                binding-btnhref=""
                >Chi tiết chương trình</a
              >
            </div>
          </div>
        </div>

        <!-- CARD 2 -->
        <div class="card relative d-row gap-m">
          <div class="rounded d-column-h-center">
            <div class="rounded-dot"></div>
            <div class="rounded-line">
              <div></div>
            </div>
          </div>
          <div class="card-item relative">
            <div class="graCoat absolute"></div>
            <img
              src="https://images.unsplash.com/photo-1522071820081-009f0129c71c"
              binding-imgpath="https://images.unsplash.com/photo-1522071820081-009f0129c71c"
              class="absolute"
              alt=""
            />

            <div class="card-item-label d-row gap-m mobileFlexColumn">
              <div class="icon d-center">
                <span class="material-symbols-outlined"> rocket_launch </span>
              </div>
              <div class="d-column gap-xxs">
                <p
                  class="tag"
                  binding-name="Master Your Story &amp; Validate Your Idea"
                >
                  Master Your Story &amp; Validate Your Idea
                </p>
                <h4
                  binding-name="Nhóm 2 — Làm Chủ Thông Điệp &amp; Chứng Minh Ý Tưởng"
                >
                  Nhóm 2 — Làm Chủ Thông Điệp &amp; Chứng Minh Ý Tưởng
                </h4>
                <p
                  class="card-subdescription"
                  binding-subdescription="&lt;b&gt; Tuần 4 — &lt;big&gt; Pitch Mastery &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Kỹ năng trình bày/ Pitch nâng cao) &lt;/i&gt;  &lt;br&gt; &lt;b&gt; Tuần 5 — &lt;big&gt; Mentor Idea Review &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Đánh giá ý tưởng startup cùng cố vấn) &lt;/i&gt; &lt;br&gt; &lt;b&gt; Tuần 13 — &lt;big&gt; Demo Day - Graduation &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Tổng kết và thuyết trình tốt nghiệp)&lt;/i&gt;"
                >
                  <b> Tuần 4 — <big> Pitch Mastery </big> </b> <br />
                  <i> (Kỹ năng trình bày/ Pitch nâng cao) </i> <br />
                  <b> Tuần 5 — <big> Mentor Idea Review </big> </b> <br />
                  <i> (Đánh giá ý tưởng startup cùng cố vấn) </i> <br />
                  <b> Tuần 13 — <big> Demo Day - Graduation </big> </b> <br />
                  <i> (Tổng kết và thuyết trình tốt nghiệp)</i>
                </p>
              </div>
              <p>02</p>
            </div>

            <hr />

            <div class="card-item-cate d-column gap-m">
              <div class="d-row mobileFlexColumn gap-s">
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> docs </span>
                    <div class="tag" binding-name="Khối lượng">Khối lượng</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="3 Phiên đánh giá cùng Mentor (Mentor Reviews)"
                  >
                    3 Phiên đánh giá cùng Mentor (Mentor Reviews)
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> add_diamond </span>
                    <div class="tag" binding-name="Giá trị">Giá trị</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Kỹ năng kể chuyện &amp; Thuyết phục nhà đầu tư (Storytelling)"
                  >
                    Kỹ năng kể chuyện &amp; Thuyết phục nhà đầu tư
                    (Storytelling)
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> task_alt </span>
                    <div class="tag" binding-name="Kết quả">Kết quả</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Sán phẩm mẫu (MVP) &amp; Sự công nhận từ hội đồng chuyên gia"
                  >
                    Sán phẩm mẫu (MVP) &amp; Sự công nhận từ hội đồng chuyên gia
                  </p>
                </div>
              </div>
              <a
                href="#Programme_content"
                class="card-item-cate-detail tag"
                binding-btntext="Chi tiết chương trình"
                binding-btnhref=""
                >Chi tiết chương trình</a
              >
            </div>
          </div>
        </div>

        <!-- CARD 3 -->
        <div class="card relative d-row gap-m">
          <div class="rounded d-column-h-center">
            <div class="rounded-dot"></div>
            <div class="rounded-line">
              <div></div>
            </div>
          </div>
          <div class="card-item relative">
            <div class="graCoat absolute"></div>
            <img
              src="https://images.unsplash.com/photo-1551288049-bebda4e38f71"
              binding-imgpath="https://images.unsplash.com/photo-1551288049-bebda4e38f71"
              class="absolute"
              alt=""
            />

            <div class="card-item-label d-row gap-m mobileFlexColumn">
              <div class="icon d-center">
                <span class="material-symbols-outlined"> trending_up </span>
              </div>
              <div class="d-column gap-xxs">
                <p
                  class="tag"
                  binding-name="Build, Protect &amp; Empower Your Startup"
                >
                  Build, Protect &amp; Empower Your Startup
                </p>
                <h4
                  binding-name="Nhóm 3 — Xây Sản Phẩm, Bảo Vệ Startup &amp; Xây Dựng Đội Ngũ"
                >
                  Nhóm 3 — Xây Sản Phẩm, Bảo Vệ Startup &amp; Xây Dựng Đội Ngũ
                </h4>
                <p
                  class="card-subdescription"
                  binding-subdescription="&lt;b&gt; Tuần 6 — &lt;big&gt; Legal &amp; Equity &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Pháp lý &amp; Cấu trúc vốn sở hữu) &lt;/i&gt;  &lt;br&gt; &lt;b&gt; Tuần 7 — &lt;big&gt; Go-to-Market &amp; Scale &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Chiến lược ra thị trường &amp; Mở rộng) &lt;/i&gt; &lt;br&gt; &lt;b&gt; Tuần 8 — &lt;big&gt; Product Development &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Phát triển sản phẩm) &lt;/i&gt;  &lt;br&gt; &lt;b&gt; Tuần 10 — &lt;big&gt; Co-Founder &amp; Team &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Đồng sáng lập &amp; Xây dựng đội ngũ) &lt;/i&gt;"
                >
                  <b> Tuần 6 — <big> Legal &amp; Equity </big> </b> <br />
                  <i> (Pháp lý &amp; Cấu trúc vốn sở hữu) </i> <br />
                  <b> Tuần 7 — <big> Go-to-Market &amp; Scale </big> </b> <br />
                  <i> (Chiến lược ra thị trường &amp; Mở rộng) </i> <br />
                  <b> Tuần 8 — <big> Product Development </big> </b> <br />
                  <i> (Phát triển sản phẩm) </i> <br />
                  <b> Tuần 10 — <big> Co-Founder &amp; Team </big> </b> <br />
                  <i> (Đồng sáng lập &amp; Xây dựng đội ngũ) </i>
                </p>
              </div>
              <p>03</p>
            </div>

            <hr />

            <div class="card-item-cate d-column gap-m">
              <div class="d-row mobileFlexColumn gap-s">
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> docs </span>
                    <div class="tag" binding-name="Khối lượng">Khối lượng</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="4 Tuần chuyên sâu về Vận hành &amp; Pháp lý"
                  >
                    4 Tuần chuyên sâu về Vận hành &amp; Pháp lý
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> add_diamond </span>
                    <div class="tag" binding-name="Giá trị">Giá trị</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Cấu trúc doanh nghiệp chuẩn quốc tế &amp; Chiến lược GTM"
                  >
                    Cấu trúc doanh nghiệp chuẩn quốc tế &amp; Chiến lược GTM
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> task_alt </span>
                    <div class="tag" binding-name="Kết quả">Kết quả</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Đội ngũ nòng cốt (Core Team) &amp; Khung pháp lý an toàn"
                  >
                    Đội ngũ nòng cốt (Core Team) &amp; Khung pháp lý an toàn
                  </p>
                </div>
              </div>
              <a
                href="#Programme_content"
                class="card-item-cate-detail tag"
                binding-btntext="Chi tiết chương trình"
                binding-btnhref=""
                >Chi tiết chương trình</a
              >
            </div>
          </div>
        </div>

        <!-- CARD 4 -->
        <div class="card relative d-row gap-m">
          <div class="rounded d-column-h-center">
            <div class="rounded-dot"></div>
            <div class="rounded-line">
              <div></div>
            </div>
          </div>
          <div class="card-item relative">
            <div class="graCoat absolute"></div>
            <img
              src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7"
              binding-imgpath="https://images.unsplash.com/photo-1556761175-5973dc0f32e7"
              class="absolute"
              alt=""
            />

            <div class="card-item-label d-row gap-m mobileFlexColumn">
              <div class="icon d-center">
                <span class="material-symbols-outlined"> verified_user </span>
              </div>
              <div class="d-column gap-xxs">
                <p
                  class="tag"
                  binding-name="Accelerate Growth &amp; Get Fundraising-Ready"
                >
                  Accelerate Growth &amp; Get Fundraising-Ready
                </p>
                <h4 binding-name="Nhóm 4 — Tăng Tốc &amp; Sẵn Sàng Gọi Vốn">
                  Nhóm 4 — Tăng Tốc &amp; Sẵn Sàng Gọi Vốn
                </h4>
                <p
                  class="card-subdescription"
                  binding-subdescription="&lt;b&gt; Tuần 9 — &lt;big&gt; Investor Progress Review &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Đánh giá tiến độ với nhà đầu tư) &lt;/i&gt;  &lt;br&gt; &lt;b&gt; Tuần 11 — &lt;big&gt; Growth &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Chiến lược tăng trưởng) &lt;/i&gt; &lt;br&gt; &lt;b&gt; Tuần 12 — &lt;big&gt; Funding &lt;/big&gt; &lt;/b&gt; &lt;br&gt; &lt;i&gt; (Chiến lược &amp; Kỹ năng chuẩn bị gọi vốn) &lt;/i&gt;  "
                >
                  <b> Tuần 9 — <big> Investor Progress Review </big> </b> <br />
                  <i> (Đánh giá tiến độ với nhà đầu tư) </i> <br />
                  <b> Tuần 11 — <big> Growth </big> </b> <br />
                  <i> (Chiến lược tăng trưởng) </i> <br />
                  <b> Tuần 12 — <big> Funding </big> </b> <br />
                  <i> (Chiến lược &amp; Kỹ năng chuẩn bị gọi vốn) </i>
                </p>
              </div>
              <p>04</p>
            </div>

            <hr />

            <div class="card-item-cate d-column gap-m">
              <div class="d-row mobileFlexColumn gap-s">
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> docs </span>
                    <div class="tag" binding-name="Khối lượng">Khối lượng</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="13 Tuần tăng tốc toàn diện (Full Program)"
                  >
                    13 Tuần tăng tốc toàn diện (Full Program)
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> add_diamond </span>
                    <div class="tag" binding-name="Giá trị">Giá trị</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Mạng lưới 35,000+ Mentors &amp; Nhà đầu tư toàn cầu"
                  >
                    Mạng lưới 35,000+ Mentors &amp; Nhà đầu tư toàn cầu
                  </p>
                </div>
                <div class="card-item-cate-item">
                  <div class="d-row-v-center gap-xxs">
                    <span class="material-symbols-outlined"> task_alt </span>
                    <div class="tag" binding-name="Kết quả">Kết quả</div>
                  </div>
                  <p
                    class="p-subbody"
                    binding-name="Sẵn sàng gọi vốn (Fundraising-Ready) &amp; Lễ tốt nghiệp Demo Day"
                  >
                    Sẵn sàng gọi vốn (Fundraising-Ready) &amp; Lễ tốt nghiệp
                    Demo Day
                  </p>
                </div>
              </div>
              <a
                href="#Programme_content"
                class="card-item-cate-detail tag"
                binding-btntext="Chi tiết chương trình"
                binding-btnhref=""
                >Chi tiết chương trình</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
