<div>
  <style>
    /* ===== Feedback ===== */
    #Feedback #Feedback_content > div:first-child {
      text-align: center;
    }

    /* ===== Cards ===== */
    #Feedback #Feedback_content #Feedback_content_cards .card {
      position: relative;
      padding: var(--spacing-m);
      padding-top: var(--spacing-xl);

      border-radius: var(--radius-l);
      background-color: var(--color-text-muted-2);
    }

    /* icon Feedback */
    #Feedback #Feedback_content #Feedback_content_cards .card span {
      font-size: var(--spacing-xxl) !important;
      color: var(--color-primary);
      position: absolute;
      opacity: 0.2;
      top: var(--spacing-xs);
      left: var(--spacing-xs);
    }

    /* paragraph */
    #Feedback #Feedback_content #Feedback_content_cards .card p {
      font-size: var(--text-xs);
    }

    /* Feedback text */
    #Feedback #Feedback_content #Feedback_content_cards .card > p {
      font-style: italic;
    }

    #Feedback #Feedback_content #Feedback_content_cards .card > p::before,
    #Feedback #Feedback_content #Feedback_content_cards .card > p::after {
      content: '"';
    }

    /* author block */
    #Feedback #Feedback_content #Feedback_content_cards .card > div > img {
      height: var(--spacing-xl);
      width: var(--spacing-xl);
      object-fit: cover;
      border-radius: var(--radius-round);
    }

    #Feedback
      #Feedback_content
      #Feedback_content_cards
      .card
      > div
      p:first-child {
      color: var(--color-black);
      font-weight: var(--weight-semibold);
    }
  </style>

  <section id="Feedback">
    <div id="Feedback_content" class="maxWidth1300 d-column-h-center gap-xl">
      <div class="d-column-h-center gap-xs">
        <p class="tag" binding-name="Chia sẻ từ Founder">Chia sẻ từ Founder</p>
        <h3 class="title-bold" binding-name="Người trong cuộc nói gì?">
          Người trong cuộc nói gì?
        </h3>
      </div>

      <div id="Feedback_content_cards" class="d-row gap-m mobileFlexColumn">
        <div
          class="card relative d-column gap-s"
          repeat="article|param:categories.id:32115ce4-0705-2bc7-3a52-be44c6533d94|sort:createdDate:desc|includes:"
        >
          <span class="material-symbols-outlined"> format_quote </span>
          <p>{{subDescription}}</p>
          <div class="d-row-v-center gap-s">
            <img
              src="https://static.izzi.asia/{{images.path}}"
              alt="{{metaName}}"
            />
            <div class="d-column">
              <p>{{metaName}}</p>
              <p>{{metaKeyword}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
