<div
  repeat="article|param:categories.id:e618564c-bdf8-4399-ad7a-5118e6d9b2ba|sort:createdDate:desc"
  class="col-sm-6 col-lg-4"
  id="a0c48194-16f9-c158-defa-13b4180833b5"
>
  <div class="vs-blog blog-grid">
    <div class="blog-img image-scale-hover">
      <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}">
        <img
          src=""
          class="w-100 lazyload"
          data-src="{{images|getthumbnailbyindex:0|getPath:?mode=crop&amp;width=370&amp;height=354}}"
          alt="{{name}}"
        />
      </a>
    </div>
    <div class="blog-content bg">
      <h4 class="blog-title fw-semibold h5">
        <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}" title="{{name}}"
          >{{name|substring:46:...}}</a
        >
      </h4>
      <div class="blog-meta fs-12">
        <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}"
          >{{createdDate|formatdatetime:MMM}}
          {{createdDate|formatdatetime:DD}},{{createdDate|formatdatetime:YYYY}}</a
        >
      </div>
    </div>
  </div>
</div>

<div
  class="section section-padding"
  data-bg-color="rgb(227 242 255 / 80%)"
  id="205da015-d299-785a-e370-0c3a36601fe1"
>
  <div class="container">
    <!-- Section Title Start -->
    <div class="section-title-two text-center" data-aos="fade-up">
      <h2 class="title main-color fz-48" binding-name="TIN TỨC">TIN TỨC</h2>
    </div>
    <!-- Section Title End -->
    <div class="course-nav-tab">
      <ul class="nav justify-content-center">
        <li
          repeat="category|param:id:181930d9-1df9-719c-8979-a59f3508afea,778c8513-d5ab-5ddb-5e61-1e8348a04629|type:2|size:3"
        >
          <a
            labo-if="index == 0"
            class="active pr-2 pl-2"
            data-bs-toggle="tab"
            href="#{{name|rewrite}}-{{id}}"
            >{{name}}</a
          >
          <a
            labo-if="index > 0"
            class="pr-2 pl-2"
            data-bs-toggle="tab"
            href="#{{name|rewrite}}-{{id}}"
            >{{name}}</a
          >
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div
        repeat="category|param:id:preParamIds|size:3"
        id="{{name|rewrite}}-{{id}}"
        labo-if="index == 0"
        class="tab-pane fade show active"
      >
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30">
          <div
            class="col max-mb-30"
            repeat="article|size:3|sort:postTime:desc|param:categories.id:parentId|includes:"
            data-aos="fade-up"
          >
            <div class="blog">
              <div class="thumbnail">
                <a
                  href="/{{languageCode}}/bai-viet/{{friendlyUrl}}"
                  class="image"
                  ><img
                    src="{{images|getthumbnailbyindex:0|getPath:?mode=crop&amp;width=370&amp;height=208}}"
                    alt="{{name}}"
                /></a>
              </div>
              <div class="info">
                <a
                  repeat="categories"
                  href="/{{languageCode}}/danh-sach-bai-viet/{{friendlyUrl}}"
                  class="category"
                  >{{name}},
                </a>
                <h3 class="title" title="{{name}}">
                  <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}"
                    >{{name|substring:60:...}}</a
                  >
                </h3>
                <ul class="meta">
                  <li>
                    <i class="far fa-calendar"></i
                    >{{postTime|formatdatetime:DD}}/{{postTime|formatdatetime:MM}}/{{postTime|formatdatetime:YYYY}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row max-mt-40">
          <div class="text-center col-lg-7 mx-auto">
            <a
              class="link link-lg primary-three"
              href="/{{languageCode}}/danh-sach-bai-viet/{{friendlyUrl}}"
              ><mark>Xem thêm <i class="far fa-long-arrow-right"></i></mark
            ></a>
          </div>
        </div>
      </div>

      <div
        repeat="category|param:id:preParamIds|size:3"
        labo-if="index > 0"
        id="{{name|rewrite}}-{{id}}"
        class="tab-pane fade 1"
      >
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 max-mb-n30">
          <div
            class="col max-mb-30 1"
            repeat="article|size:3|sort:postTime:desc|param:categories.id:parentId|includes:"
            data-aos="fade-up"
          >
            <div class="blog">
              <div class="thumbnail">
                <a
                  href="/{{languageCode}}/bai-viet/{{friendlyUrl}}"
                  class="image"
                  ><img
                    src="{{images|getthumbnailbyindex:0|getPath:?mode=crop&amp;width=370&amp;height=208}}"
                    alt="{{name}}"
                /></a>
              </div>
              <div class="info">
                <a
                  repeat="categories"
                  href="/{{languageCode}}/danh-sach-bai-viet/{{friendlyUrl}}"
                  class="category"
                  >{{name}},
                </a>
                <h3 class="title" title="{{name}}">
                  <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}"
                    >{{name|substring:60:...}}</a
                  >
                </h3>
                <ul class="meta">
                  <li>
                    <i class="far fa-calendar"></i
                    >{{postTime|formatdatetime:DD}}/{{postTime|formatdatetime:MM}}/{{createdDate|formatdatetime:YYYY}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row max-mt-40">
          <div class="text-center col-lg-7 mx-auto">
            <a
              class="link link-lg primary-three"
              href="/{{languageCode}}/danh-sach-bai-viet/{{friendlyUrl}}"
              ><mark>Xem thêm <i class="far fa-long-arrow-right"></i></mark
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<li repeat="category|param:parentId:7f8ad86d-404d-c0a9-69d2-36aed2d53306|sort:displayOrder:asc|includes:">
    <a href="{{description}}">{{name}}</a>
</li>