<div
  repeat="article|param:categories.id:e618564c-bdf8-4399-ad7a-5118e6d9b2ba|sort:createdDate:desc"
  class="col-sm-6 col-lg-4"
  id="a0c48194-16f9-c158-defa-13b4180833b5"
>
  <div class="vs-blog blog-grid">
    <div class="blog-img image-scale-hover">
      <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}">
        <img
          src=""
          class="w-100 lazyload"
          data-src="{{images|getthumbnailbyindex:0|getPath:?mode=crop&amp;width=370&amp;height=354}}"
          alt="{{name}}"
        />
      </a>
    </div>
    <div class="blog-content bg">
      <h4 class="blog-title fw-semibold h5">
        <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}" title="{{name}}"
          >{{name|substring:46:...}}</a
        >
      </h4>
      <div class="blog-meta fs-12">
        <a href="/{{languageCode}}/bai-viet/{{friendlyUrl}}"
          >{{createdDate|formatdatetime:MMM}}
          {{createdDate|formatdatetime:DD}},{{createdDate|formatdatetime:YYYY}}</a
        >
      </div>
    </div>
  </div>
</div>
